docs/make_blueprints/02_FLUXAI_LEADS_SITE_OFICIAL.blueprint.json
{
    "name": "02_FLUXAI_LEADS_SITE_OFICIAL",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2372795,
                "maxResults": 1
            },
            "filter": null,
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -30,
                    "y": -248,
                    "name": "Webhook — FLUXAI_PROXY_LEADS_SITE_2026"
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "FLUXAI_PROXY_LEAD_CAPTURE_2026"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ],
                "interface": [
                    {
                        "name": "lead_id",
                        "type": "text"
                    },
                    {
                        "name": "cliente_id",
                        "type": "text"
                    },
                    {
                        "name": "cliente_nome",
                        "type": "text"
                    },
                    {
                        "name": "origem_site",
                        "type": "text"
                    },
                    {
                        "name": "nome_lead",
                        "type": "text"
                    },
                    {
                        "name": "email",
                        "type": "text"
                    },
                    {
                        "name": "telefone",
                        "type": "text"
                    },
                    {
                        "name": "empresa",
                        "type": "text"
                    },
                    {
                        "name": "servico_interesse",
                        "type": "text"
                    },
                    {
                        "name": "canal_origem",
                        "type": "text"
                    },
                    {
                        "name": "campanha",
                        "type": "text"
                    },
                    {
                        "name": "pagina_origem",
                        "type": "text"
                    },
                    {
                        "name": "status_lead",
                        "type": "text"
                    },
                    {
                        "name": "responsavel",
                        "type": "text"
                    },
                    {
                        "name": "observacao",
                        "type": "text"
                    }
                ]
            }
        },
        {
            "id": 16,
            "module": "util:SetVariables",
            "version": 1,
            "parameters": {},
            "filter": null,
            "mapper": {
                "scope": "roundtrip",
                "variables": [
                    {
                        "name": "cliente_id_final",
                        "value": "{{if(1.cliente_id = \"\"; \"LEAD_SITE\"; 1.cliente_id)}}"
                    },
                    {
                        "name": "cliente_nome_final",
                        "value": "{{if(1.cliente_nome = \"\"; \"Lead ainda não convertido\"; 1.cliente_nome)}}"
                    },
                    {
                        "name": "origem_site_final",
                        "value": "{{if(1.origem_site = emptystring; \"site_fluxai\"; 1.origem_site)}}"
                    },
                    {
                        "name": "status_lead_final",
                        "value": "{{if(1.status_lead = \"\"; \"novo\"; 1.status_lead)}}"
                    },
                    {
                        "name": "responsavel_final",
                        "value": "{{if(1.responsavel = \"\"; \"Kassia\"; 1.responsavel)}}"
                    }
                ]
            },
            "metadata": {
                "designer": {
                    "x": 295,
                    "y": -230,
                    "name": "Tools — normalizar lead"
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        },
                        "variables": {
                            "items": [
                                null,
                                null,
                                null,
                                null,
                                null
                            ]
                        }
                    }
                },
                "expect": [
                    {
                        "name": "variables",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Variable name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "any",
                                "label": "Variable value"
                            }
                        ],
                        "type": "array",
                        "label": "Variables"
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "cliente_id_final",
                        "type": "any",
                        "label": "cliente_id_final"
                    },
                    {
                        "name": "cliente_nome_final",
                        "type": "any",
                        "label": "cliente_nome_final"
                    },
                    {
                        "name": "origem_site_final",
                        "type": "any",
                        "label": "origem_site_final"
                    },
                    {
                        "name": "status_lead_final",
                        "type": "any",
                        "label": "status_lead_final"
                    },
                    {
                        "name": "responsavel_final",
                        "type": "any",
                        "label": "responsavel_final"
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 8785925
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "0": "{{1.lead_id}}",
                    "1": "{{formatDate(now; \"YYYY-MM-DD HH:mm\")}}",
                    "2": "{{16.cliente_id_final}}",
                    "3": "{{16.cliente_nome_final}}",
                    "4": "{{16.origem_site_final}}",
                    "5": "{{1.nome_lead}}",
                    "6": "{{1.email}}",
                    "7": "{{1.telefone}}",
                    "8": "{{1.empresa}}",
                    "9": "{{1.servico_interesse}}",
                    "10": "{{1.canal_origem}}",
                    "11": "{{1.campanha}}",
                    "12": "{{1.pagina_origem}}",
                    "13": "{{16.status_lead_final}}",
                    "14": "{{16.responsavel_final}}",
                    "15": "{{1.observacao}}"
                },
                "sheetId": "LEADS_SITE",
                "spreadsheetId": "/1-MZBzS2KOZ_pSIR9rVX_mkecdvmQjF9j9q8ahMKqxQE",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "useColumnHeaders": false,
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 612,
                    "y": -216,
                    "name": "Google Sheets — Add Row em LEADS_SITE"
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "LEADS_SITE"
                        },
                        "spreadsheetId": {
                            "path": [
                                "FluxAI_Intelligence_Base_Ecossistema_Make"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "useColumnHeaders": {
                            "label": "No",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "lead_id (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "data_entrada (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "cliente_id (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "cliente_nome (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "origem_site (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "nome_lead (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "email (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "telefone (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "empresa (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "servico_interesse (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "canal_origem (K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "campanha (L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "pagina_origem (M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "status_lead (N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "responsavel (O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "observacao (P)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values in columns",
                                    "metadata": [
                                        [
                                            [
                                                "lead_id",
                                                "data_entrada",
                                                "cliente_id",
                                                "cliente_nome",
                                                "origem_site",
                                                "nome_lead",
                                                "email",
                                                "telefone",
                                                "empresa",
                                                "servico_interesse",
                                                "canal_origem",
                                                "campanha",
                                                "pagina_origem",
                                                "status_lead",
                                                "responsavel",
                                                "observacao"
                                            ]
                                        ]
                                    ]
                                }
                            ]
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Meu Google (fluxai.marketingdigital@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "required": true,
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "useColumnHeaders",
                        "type": "select",
                        "label": "Use column headers as IDs of the columns",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "lead_id (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "data_entrada (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "cliente_id (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "cliente_nome (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "origem_site (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "nome_lead (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "email (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "telefone (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "empresa (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "servico_interesse (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "canal_origem (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "campanha (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "pagina_origem (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "status_lead (N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "responsavel (O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "observacao (P)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values in columns",
                        "metadata": [
                            [
                                [
                                    "lead_id",
                                    "data_entrada",
                                    "cliente_id",
                                    "cliente_nome",
                                    "origem_site",
                                    "nome_lead",
                                    "email",
                                    "telefone",
                                    "empresa",
                                    "servico_interesse",
                                    "canal_origem",
                                    "campanha",
                                    "pagina_origem",
                                    "status_lead",
                                    "responsavel",
                                    "observacao"
                                ]
                            ]
                        ]
                    }
                ]
            }
        },
        {
            "id": 17,
            "module": "gateway:WebhookRespond",
            "version": 1,
            "parameters": {},
            "mapper": {
                "body": "{\r\n  \"ok\": true,\r\n  \"status\": \"lead_registrado\",\r\n  \"message\": \"Lead registrado com sucesso.\",\r\n  \"lead_id\": \"{{1.lead_id}}\",\r\n  \"nome_lead\": \"{{1.nome_lead}}\",\r\n  \"email\": \"{{1.email}}\",\r\n  \"servico_interesse\": \"{{1.servico_interesse}}\",\r\n  \"status_lead\": \"{{16.status_lead_final}}\"\r\n}",
                "status": "200",
                "headers": []
            },
            "metadata": {
                "designer": {
                    "x": 912,
                    "y": -216,
                    "name": " Webhook Response — lead registrado"
                },
                "restore": {
                    "expect": {
                        "headers": {
                            "mode": "chose"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "status",
                        "type": "uinteger",
                        "label": "Status",
                        "required": true,
                        "validate": {
                            "min": 100
                        }
                    },
                    {
                        "name": "body",
                        "type": "any",
                        "label": "Body"
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true,
                                "validate": {
                                    "max": 256
                                }
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true,
                                "validate": {
                                    "max": 4096
                                }
                            }
                        ],
                        "type": "array",
                        "label": "Custom headers",
                        "validate": {
                            "maxItems": 16
                        }
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}