docs/make_blueprints/11_FLUXAI_IA_CREDITOS_CONTROLE_LIMITE_OPERACIONAL_OFICIAL.blueprint.json
{
    "name": "11_FLUXAI_IA_CREDITOS_CONTROLE_LIMITE_OPERACIONAL_OFICIAL",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2372799,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -1438,
                    "y": -202
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "FLUXAI_PROXY_IA_CREDITOS_CONTROLE_2026"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "client_id",
                "scope": "roundtrip",
                "value": "{{1.client_id}}"
            },
            "metadata": {
                "designer": {
                    "x": -1089,
                    "y": -193
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "client_id",
                        "type": "any",
                        "label": "client_id"
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 8785925
            },
            "mapper": {
                "from": "drive",
                "mode": "select",
                "values": {
                    "0": "{{1.asset_id}}",
                    "1": "{{1.client_id}}",
                    "2": "            ",
                    "3": "{{upper(\"LIM_\" + 1.client_id + \"_\" + 1.mes_referencia + \"_\" + 1.tipo_entrega)}}",
                    "4": "{{1.mes_referencia}}",
                    "5": "{{1.tipo_entrega}}",
                    "6": "{{1.origem_geracao}}",
                    "7": "{{1.solicitado_por}}",
                    "8": "{{1.responsavel_operacional}}",
                    "9": "{{1.status_geracao}}",
                    "11": "sim",
                    "12": "não",
                    "13": "não",
                    "14": "nao_necessaria",
                    "19": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}",
                    "20": "{{ifempty(1.data_criacao; formatDate(now; \"YYYY-MM-DD HH:mm:ss\"))}}",
                    "21": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}"
                },
                "sheetId": "IA_GERACOES_CONTROLE",
                "spreadsheetId": "/1-MZBzS2KOZ_pSIR9rVX_mkecdvmQjF9j9q8ahMKqxQE",
                "includesHeaders": true,
                "insertDataOption": "INSERT_ROWS",
                "useColumnHeaders": false,
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": -777,
                    "y": -178,
                    "name": "IA_GERACOES_CONTROLE"
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "mode": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "IA_GERACOES_CONTROLE"
                        },
                        "spreadsheetId": {
                            "path": [
                                "FluxAI_Intelligence_Base_Ecossistema_Make"
                            ]
                        },
                        "includesHeaders": {
                            "label": "Yes"
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "useColumnHeaders": {
                            "label": "No",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "geracao_id (A)"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "client_id (B)"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "client_name (C)"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "limite_id (D)"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "mes_referencia (E)"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "tipo_entrega (F)"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "origem_geracao (G)"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "solicitado_por (H)"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "responsavel_operacional (I)"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "status_geracao (J)"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "status_anterior (K)"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "ocupa_limite_operacional (L)"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "consumo_definitivo (M)"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "libera_espaco (N)"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "confirmacao_interna_liberacao (O)"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "motivo_alteracao (P)"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "link_resultado_drive (Q)"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "prompt_interno_id (R)"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "observacao (S)"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "data_status (T)"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "data_criacao (U)"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "data_atualizacao (V)"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "(W)"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "(X)"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "(Y)"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "(Z)"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values in columns",
                                    "metadata": [
                                        [
                                            [
                                                "geracao_id",
                                                "client_id",
                                                "client_name",
                                                "limite_id",
                                                "mes_referencia",
                                                "tipo_entrega",
                                                "origem_geracao",
                                                "solicitado_por",
                                                "responsavel_operacional",
                                                "status_geracao",
                                                "status_anterior",
                                                "ocupa_limite_operacional",
                                                "consumo_definitivo",
                                                "libera_espaco",
                                                "confirmacao_interna_liberacao",
                                                "motivo_alteracao",
                                                "link_resultado_drive",
                                                "prompt_interno_id",
                                                "observacao",
                                                "data_status",
                                                "data_criacao",
                                                "data_atualizacao"
                                            ]
                                        ]
                                    ]
                                }
                            ]
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Meu Google (fluxai.marketingdigital@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "required": true,
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "useColumnHeaders",
                        "type": "select",
                        "label": "Use column headers as IDs of the columns",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "geracao_id (A)"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "client_id (B)"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "client_name (C)"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "limite_id (D)"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "mes_referencia (E)"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "tipo_entrega (F)"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "origem_geracao (G)"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "solicitado_por (H)"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "responsavel_operacional (I)"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "status_geracao (J)"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "status_anterior (K)"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "ocupa_limite_operacional (L)"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "consumo_definitivo (M)"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "libera_espaco (N)"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "confirmacao_interna_liberacao (O)"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "motivo_alteracao (P)"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "link_resultado_drive (Q)"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "prompt_interno_id (R)"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "observacao (S)"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "data_status (T)"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "data_criacao (U)"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "data_atualizacao (V)"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "(W)"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "(X)"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "(Y)"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "(Z)"
                            }
                        ],
                        "type": "collection",
                        "label": "Values in columns",
                        "metadata": [
                            [
                                [
                                    "geracao_id",
                                    "client_id",
                                    "client_name",
                                    "limite_id",
                                    "mes_referencia",
                                    "tipo_entrega",
                                    "origem_geracao",
                                    "solicitado_por",
                                    "responsavel_operacional",
                                    "status_geracao",
                                    "status_anterior",
                                    "ocupa_limite_operacional",
                                    "consumo_definitivo",
                                    "libera_espaco",
                                    "confirmacao_interna_liberacao",
                                    "motivo_alteracao",
                                    "link_resultado_drive",
                                    "prompt_interno_id",
                                    "observacao",
                                    "data_status",
                                    "data_criacao",
                                    "data_atualizacao"
                                ]
                            ]
                        ]
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 8785925
            },
            "mapper": {
                "from": "drive",
                "limit": "1",
                "filter": [
                    [
                        {
                            "a": "B",
                            "b": "{{1.client_id}}",
                            "o": "text:equal"
                        },
                        {
                            "a": "D",
                            "b": "{{1.mes_referencia}}",
                            "o": "text:equal"
                        },
                        {
                            "a": "E",
                            "b": "{{1.tipo_entrega}}",
                            "o": "text:equal"
                        }
                    ]
                ],
                "sheetId": "10_IA_CREDITOS_CLIENTE",
                "sortOrder": "asc",
                "spreadsheetId": "1-MZBzS2KOZ_pSIR9rVX_mkecdvmQjF9j9q8ahMKqxQE",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": -485,
                    "y": -182,
                    "name": " 10_IA_CREDITOS_CLIENTE"
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "10_IA_CREDITOS_CLIENTE"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "FluxAI_Intelligence_Base_Ecossistema_Make"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Meu Google (fluxai.marketingdigital@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "limite_id (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "client_id (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "client_name (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "mes_referencia (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "tipo_entrega (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "origem_limite (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "referencia_origem (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "limite_operacional_mensal (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "limite_ocupado (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "limite_publicado (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "limite_disponivel_operacional (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "status_limite (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "escopo_contratado (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "servico_extra_aprovado (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "ajuste_manual_autorizado (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "responsavel_autorizacao (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "data_inicio (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "data_fim (R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "observacao (S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "data_criacao (T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "data_atualizacao (U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": -172,
                    "y": -189
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "LIMITE_ENCONTRADO",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{9.`0`}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "limite_operacional_mensal",
                                        "value": "{{9.`7`}}"
                                    },
                                    {
                                        "name": "limite_ocupado_atual",
                                        "value": "{{9.`8`}}"
                                    },
                                    {
                                        "name": "limite_publicado_atual",
                                        "value": "{{9.`9`}}"
                                    },
                                    {
                                        "name": "incremento_ocupado",
                                        "value": "{{if(1.status_geracao = \"aprovado_interno\"; 1; 0)}}"
                                    },
                                    {
                                        "name": "incremento_publicado",
                                        "value": "{{if(1.status_geracao = \"publicado\"; 1; 0)}}"
                                    },
                                    {
                                        "name": "limite_ocupado_final",
                                        "value": "{{parseNumber(9.`8`) + if(1.status_geracao = \"aprovado_interno\"; 1; 0)}}"
                                    },
                                    {
                                        "name": "limite_publicado_final",
                                        "value": "{{parseNumber(9.`9`) - if(1.status_geracao = \"publicado\"; 1; 0)}}"
                                    },
                                    {
                                        "name": "limite_disponivel_final",
                                        "value": "{{parseNumber(9.`7`) - (parseNumber(9.`8`) + if(1.status_geracao = \"aprovado_interno\"; 1; 0))}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 122,
                                    "y": -192,
                                    "name": "Tools cálculo"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        },
                                        "variables": {
                                            "items": [
                                                null,
                                                null,
                                                null,
                                                null,
                                                null,
                                                null,
                                                null,
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "name",
                                                    "type": "text",
                                                    "label": "Variable name",
                                                    "required": true
                                                },
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Variable value"
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Variable"
                                        },
                                        "type": "array",
                                        "label": "Variables",
                                        "validate": {
                                            "unique": {
                                                "by": "name"
                                            }
                                        }
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "limite_operacional_mensal",
                                        "type": "any",
                                        "label": "limite_operacional_mensal"
                                    },
                                    {
                                        "name": "limite_ocupado_atual",
                                        "type": "any",
                                        "label": "limite_ocupado_atual"
                                    },
                                    {
                                        "name": "limite_publicado_atual",
                                        "type": "any",
                                        "label": "limite_publicado_atual"
                                    },
                                    {
                                        "name": "incremento_ocupado",
                                        "type": "any",
                                        "label": "incremento_ocupado"
                                    },
                                    {
                                        "name": "incremento_publicado",
                                        "type": "any",
                                        "label": "incremento_publicado"
                                    },
                                    {
                                        "name": "limite_ocupado_final",
                                        "type": "any",
                                        "label": "limite_ocupado_final"
                                    },
                                    {
                                        "name": "limite_publicado_final",
                                        "type": "any",
                                        "label": "limite_publicado_final"
                                    },
                                    {
                                        "name": "limite_disponivel_final",
                                        "type": "any",
                                        "label": "limite_disponivel_final"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 13,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 430,
                                    "y": -215
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 14,
                                            "module": "google-sheets:updateRow",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 8785925
                                            },
                                            "filter": {
                                                "name": "OPERACAO_PERMITIDA",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{10.limite_ocupado_final}}",
                                                            "b": "{{10.limite_operacional_mensal}}",
                                                            "o": "number:lessorequal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "from": "drive",
                                                "mode": "select",
                                                "values": {
                                                    "0": "{{9.`0`}}",
                                                    "1": "{{9.`1`}}",
                                                    "2": "{{9.`2`}}",
                                                    "3": "{{9.`3`}}",
                                                    "4": "{{9.`4`}}",
                                                    "5": "{{9.`5`}}",
                                                    "6": "{{9.`6`}}",
                                                    "7": "{{9.`7`}}",
                                                    "8": "{{10.limite_ocupado_final}}",
                                                    "9": "{{10.limite_publicado_final}}",
                                                    "10": "{{10.limite_disponivel_final}}",
                                                    "11": "{{9.`11`}}",
                                                    "12": "{{9.`12`}}",
                                                    "13": "{{9.`13`}}",
                                                    "14": "{{9.`14`}}",
                                                    "15": "{{9.`15`}}",
                                                    "16": "{{9.`16`}}",
                                                    "17": "{{9.`17`}}",
                                                    "18": "Limite operacional atualizado pelo cenário 11.",
                                                    "19": "{{9.`19`}}",
                                                    "20": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}"
                                                },
                                                "sheetId": "10_IA_CREDITOS_CLIENTE",
                                                "rowNumber": "{{9.`__ROW_NUMBER__`}}",
                                                "spreadsheetId": "/1-MZBzS2KOZ_pSIR9rVX_mkecdvmQjF9j9q8ahMKqxQE",
                                                "includesHeaders": true,
                                                "useColumnHeaders": false,
                                                "valueInputOption": "USER_ENTERED"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 771,
                                                    "y": -229
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "from": {
                                                            "label": "My Drive"
                                                        },
                                                        "mode": {
                                                            "label": "Search by path"
                                                        },
                                                        "sheetId": {
                                                            "label": "10_IA_CREDITOS_CLIENTE"
                                                        },
                                                        "spreadsheetId": {
                                                            "path": [
                                                                "FluxAI_Intelligence_Base_Ecossistema_Make"
                                                            ]
                                                        },
                                                        "includesHeaders": {
                                                            "label": "Yes"
                                                        },
                                                        "useColumnHeaders": {
                                                            "label": "No",
                                                            "nested": [
                                                                {
                                                                    "name": "values",
                                                                    "spec": [
                                                                        {
                                                                            "name": "0",
                                                                            "type": "text",
                                                                            "label": "limite_id (A)"
                                                                        },
                                                                        {
                                                                            "name": "1",
                                                                            "type": "text",
                                                                            "label": "client_id (B)"
                                                                        },
                                                                        {
                                                                            "name": "2",
                                                                            "type": "text",
                                                                            "label": "client_name (C)"
                                                                        },
                                                                        {
                                                                            "name": "3",
                                                                            "type": "text",
                                                                            "label": "mes_referencia (D)"
                                                                        },
                                                                        {
                                                                            "name": "4",
                                                                            "type": "text",
                                                                            "label": "tipo_entrega (E)"
                                                                        },
                                                                        {
                                                                            "name": "5",
                                                                            "type": "text",
                                                                            "label": "origem_limite (F)"
                                                                        },
                                                                        {
                                                                            "name": "6",
                                                                            "type": "text",
                                                                            "label": "referencia_origem (G)"
                                                                        },
                                                                        {
                                                                            "name": "7",
                                                                            "type": "text",
                                                                            "label": "limite_operacional_mensal (H)"
                                                                        },
                                                                        {
                                                                            "name": "8",
                                                                            "type": "text",
                                                                            "label": "limite_ocupado (I)"
                                                                        },
                                                                        {
                                                                            "name": "9",
                                                                            "type": "text",
                                                                            "label": "limite_publicado (J)"
                                                                        },
                                                                        {
                                                                            "name": "10",
                                                                            "type": "text",
                                                                            "label": "limite_disponivel_operacional (K)"
                                                                        },
                                                                        {
                                                                            "name": "11",
                                                                            "type": "text",
                                                                            "label": "status_limite (L)"
                                                                        },
                                                                        {
                                                                            "name": "12",
                                                                            "type": "text",
                                                                            "label": "escopo_contratado (M)"
                                                                        },
                                                                        {
                                                                            "name": "13",
                                                                            "type": "text",
                                                                            "label": "servico_extra_aprovado (N)"
                                                                        },
                                                                        {
                                                                            "name": "14",
                                                                            "type": "text",
                                                                            "label": "ajuste_manual_autorizado (O)"
                                                                        },
                                                                        {
                                                                            "name": "15",
                                                                            "type": "text",
                                                                            "label": "responsavel_autorizacao (P)"
                                                                        },
                                                                        {
                                                                            "name": "16",
                                                                            "type": "text",
                                                                            "label": "data_inicio (Q)"
                                                                        },
                                                                        {
                                                                            "name": "17",
                                                                            "type": "text",
                                                                            "label": "data_fim (R)"
                                                                        },
                                                                        {
                                                                            "name": "18",
                                                                            "type": "text",
                                                                            "label": "observacao (S)"
                                                                        },
                                                                        {
                                                                            "name": "19",
                                                                            "type": "text",
                                                                            "label": "data_criacao (T)"
                                                                        },
                                                                        {
                                                                            "name": "20",
                                                                            "type": "text",
                                                                            "label": "data_atualizacao (U)"
                                                                        },
                                                                        {
                                                                            "name": "21",
                                                                            "type": "text",
                                                                            "label": "(V)"
                                                                        },
                                                                        {
                                                                            "name": "22",
                                                                            "type": "text",
                                                                            "label": "(W)"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Values in columns",
                                                                    "metadata": [
                                                                        [
                                                                            [
                                                                                "limite_id",
                                                                                "client_id",
                                                                                "client_name",
                                                                                "mes_referencia",
                                                                                "tipo_entrega",
                                                                                "origem_limite",
                                                                                "referencia_origem",
                                                                                "limite_operacional_mensal",
                                                                                "limite_ocupado",
                                                                                "limite_publicado",
                                                                                "limite_disponivel_operacional",
                                                                                "status_limite",
                                                                                "escopo_contratado",
                                                                                "servico_extra_aprovado",
                                                                                "ajuste_manual_autorizado",
                                                                                "responsavel_autorizacao",
                                                                                "data_inicio",
                                                                                "data_fim",
                                                                                "observacao",
                                                                                "data_criacao",
                                                                                "data_atualizacao"
                                                                            ]
                                                                        ]
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        "valueInputOption": {
                                                            "mode": "chose",
                                                            "label": "User entered"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google"
                                                            },
                                                            "label": "Meu Google (fluxai.marketingdigital@gmail.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "mode",
                                                        "type": "select",
                                                        "label": "Search Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "select",
                                                                "fromAll",
                                                                "map"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "valueInputOption",
                                                        "type": "select",
                                                        "label": "Value input option",
                                                        "validate": {
                                                            "enum": [
                                                                "USER_ENTERED",
                                                                "RAW"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "from",
                                                        "type": "select",
                                                        "label": "Drive",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "drive",
                                                                "share",
                                                                "team"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "spreadsheetId",
                                                        "type": "file",
                                                        "label": "Spreadsheet Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "sheetId",
                                                        "type": "select",
                                                        "label": "Sheet Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "rowNumber",
                                                        "type": "uinteger",
                                                        "label": "Row number",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "includesHeaders",
                                                        "type": "select",
                                                        "label": "Table contains headers",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                true,
                                                                false
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "useColumnHeaders",
                                                        "type": "select",
                                                        "label": "Use column headers as IDs of the columns",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                true,
                                                                false
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "values",
                                                        "spec": [
                                                            {
                                                                "name": "0",
                                                                "type": "text",
                                                                "label": "limite_id (A)"
                                                            },
                                                            {
                                                                "name": "1",
                                                                "type": "text",
                                                                "label": "client_id (B)"
                                                            },
                                                            {
                                                                "name": "2",
                                                                "type": "text",
                                                                "label": "client_name (C)"
                                                            },
                                                            {
                                                                "name": "3",
                                                                "type": "text",
                                                                "label": "mes_referencia (D)"
                                                            },
                                                            {
                                                                "name": "4",
                                                                "type": "text",
                                                                "label": "tipo_entrega (E)"
                                                            },
                                                            {
                                                                "name": "5",
                                                                "type": "text",
                                                                "label": "origem_limite (F)"
                                                            },
                                                            {
                                                                "name": "6",
                                                                "type": "text",
                                                                "label": "referencia_origem (G)"
                                                            },
                                                            {
                                                                "name": "7",
                                                                "type": "text",
                                                                "label": "limite_operacional_mensal (H)"
                                                            },
                                                            {
                                                                "name": "8",
                                                                "type": "text",
                                                                "label": "limite_ocupado (I)"
                                                            },
                                                            {
                                                                "name": "9",
                                                                "type": "text",
                                                                "label": "limite_publicado (J)"
                                                            },
                                                            {
                                                                "name": "10",
                                                                "type": "text",
                                                                "label": "limite_disponivel_operacional (K)"
                                                            },
                                                            {
                                                                "name": "11",
                                                                "type": "text",
                                                                "label": "status_limite (L)"
                                                            },
                                                            {
                                                                "name": "12",
                                                                "type": "text",
                                                                "label": "escopo_contratado (M)"
                                                            },
                                                            {
                                                                "name": "13",
                                                                "type": "text",
                                                                "label": "servico_extra_aprovado (N)"
                                                            },
                                                            {
                                                                "name": "14",
                                                                "type": "text",
                                                                "label": "ajuste_manual_autorizado (O)"
                                                            },
                                                            {
                                                                "name": "15",
                                                                "type": "text",
                                                                "label": "responsavel_autorizacao (P)"
                                                            },
                                                            {
                                                                "name": "16",
                                                                "type": "text",
                                                                "label": "data_inicio (Q)"
                                                            },
                                                            {
                                                                "name": "17",
                                                                "type": "text",
                                                                "label": "data_fim (R)"
                                                            },
                                                            {
                                                                "name": "18",
                                                                "type": "text",
                                                                "label": "observacao (S)"
                                                            },
                                                            {
                                                                "name": "19",
                                                                "type": "text",
                                                                "label": "data_criacao (T)"
                                                            },
                                                            {
                                                                "name": "20",
                                                                "type": "text",
                                                                "label": "data_atualizacao (U)"
                                                            },
                                                            {
                                                                "name": "21",
                                                                "type": "text",
                                                                "label": "(V)"
                                                            },
                                                            {
                                                                "name": "22",
                                                                "type": "text",
                                                                "label": "(W)"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Values in columns",
                                                        "metadata": [
                                                            [
                                                                [
                                                                    "limite_id",
                                                                    "client_id",
                                                                    "client_name",
                                                                    "mes_referencia",
                                                                    "tipo_entrega",
                                                                    "origem_limite",
                                                                    "referencia_origem",
                                                                    "limite_operacional_mensal",
                                                                    "limite_ocupado",
                                                                    "limite_publicado",
                                                                    "limite_disponivel_operacional",
                                                                    "status_limite",
                                                                    "escopo_contratado",
                                                                    "servico_extra_aprovado",
                                                                    "ajuste_manual_autorizado",
                                                                    "responsavel_autorizacao",
                                                                    "data_inicio",
                                                                    "data_fim",
                                                                    "observacao",
                                                                    "data_criacao",
                                                                    "data_atualizacao"
                                                                ]
                                                            ]
                                                        ]
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 21,
                                            "module": "supabase:upsertARecord",
                                            "version": 1,
                                            "parameters": {
                                                "__IMTCONN__": 9280896
                                            },
                                            "mapper": {
                                                "table": "IA_CREDITOS_CLIENTE",
                                                "data_fim": "{{9.`17`}}",
                                                "client_id": "{{9.`1`}}",
                                                "limite_id": "{{9.`0`}}",
                                                "observacao": "{{9.`18`}}",
                                                "client_name": "{{9.`2`}}",
                                                "data_inicio": "{{9.`16`}}",
                                                "data_criacao": "{{9.`19`}}",
                                                "tipo_entrega": "{{9.`4`}}",
                                                "origem_limite": "{{9.`5`}}",
                                                "status_limite": "{{9.`11`}}",
                                                "limite_ocupado": "{{10.limite_ocupado_final}}",
                                                "mes_referencia": "{{9.`3`}}",
                                                "data_atualizacao": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}",
                                                "limite_publicado": "{{10.limite_publicado_final}}",
                                                "escopo_contratado": "{{9.`12`}}",
                                                "referencia_origem": "{{9.`6`}}",
                                                "servico_extra_aprovado": "{{9.`13`}}",
                                                "responsavel_autorizacao": "{{9.`15`}}",
                                                "ajuste_manual_autorizado": "{{9.`14`}}",
                                                "limite_operacional_mensal": "{{10.limite_operacional_mensal}}",
                                                "limite_disponivel_operacional": "{{10.limite_disponivel_final}}"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1073,
                                                    "y": -238
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "table": {
                                                            "mode": "chose",
                                                            "label": "IA_CREDITOS_CLIENTE",
                                                            "nested": [
                                                                {
                                                                    "help": "Note:\nThis is a Primary Key.<pk/>",
                                                                    "name": "limite_id",
                                                                    "type": "text",
                                                                    "label": "limite_id",
                                                                    "options": null,
                                                                    "required": false
                                                                },
                                                                {
                                                                    "help": "",
                                                                    "name": "client_id",
                                                                    "type": "text",
                                                                    "label": "client_id",
                                                                    "options": null,
                                                                    "required": false
                                                                },
                                                                {
                                                                    "help": "",
                                                                    "name": "client_name",
                                                                    "type": "text",
                                                                    "label": "client_name",
                                                                    "options": null,
                                                                    "required": false
                                                                },
                                                                {
                                                                    "help": "",
                                                                    "name": "mes_referencia",
                                                                    "type": "text",
                                                                    "label": "mes_referencia",
                                                                    "options": null,
                                                                    "required": false
                                                                },
                                                                {
                                                                    "help": "",
                                                                    "name": "tipo_entrega",
                                                                    "type": "text",
                                                                    "label": "tipo_entrega",
                                                                    "options": null,
                                                                    "required": false
                                                                },
                                                                {
                                                                    "help": "",
                                                                    "name": "origem_limite",
                                                                    "type": "text",
                                                                    "label": "origem_limite",
                                                                    "options": null,
                                                                    "required": false
                                                                },
                                                                {
                                                                    "help": "",
                                                                    "name": "referencia_origem",
                                                                    "type": "text",
                                                                    "label": "referencia_origem",
                                                                    "options": null,
                                                                    "required": false
                                                                },
                                                                {
                                                                    "help": "",
                                                                    "name": "limite_operacional_mensal",
                                                                    "type": "number",
                                                                    "label": "limite_operacional_mensal",
                                                                    "options": null,
                                                                    "required": false
                                                                },
                                                                {
                                                                    "help": "",
                                                                    "name": "limite_ocupado",
                                                                    "type": "number",
                                                                    "label": "limite_ocupado",
                                                                    "options": null,
                                                                    "required": false
                                                                },
                                                                {
                                                                    "help": "",
                                                                    "name": "limite_publicado",
                                                                    "type": "number",
                                                                    "label": "limite_publicado",
                                                                    "options": null,
                                                                    "required": false
                                                                },
                                                                {
                                                                    "help": "",
                                                                    "name": "limite_disponivel_operacional",
                                                                    "type": "number",
                                                                    "label": "limite_disponivel_operacional",
                                                                    "options": null,
                                                                    "required": false
                                                                },
                                                                {
                                                                    "help": "",
                                                                    "name": "status_limite",
                                                                    "type": "text",
                                                                    "label": "status_limite",
                                                                    "options": null,
                                                                    "required": false
                                                                },
                                                                {
                                                                    "help": "",
                                                                    "name": "escopo_contratado",
                                                                    "type": "text",
                                                                    "label": "escopo_contratado",
                                                                    "options": null,
                                                                    "required": false
                                                                },
                                                                {
                                                                    "help": "",
                                                                    "name": "servico_extra_aprovado",
                                                                    "type": "text",
                                                                    "label": "servico_extra_aprovado",
                                                                    "options": null,
                                                                    "required": false
                                                                },
                                                                {
                                                                    "help": "",
                                                                    "name": "ajuste_manual_autorizado",
                                                                    "type": "text",
                                                                    "label": "ajuste_manual_autorizado",
                                                                    "options": null,
                                                                    "required": false
                                                                },
                                                                {
                                                                    "help": "",
                                                                    "name": "responsavel_autorizacao",
                                                                    "type": "text",
                                                                    "label": "responsavel_autorizacao",
                                                                    "options": null,
                                                                    "required": false
                                                                },
                                                                {
                                                                    "help": "",
                                                                    "name": "data_inicio",
                                                                    "type": "text",
                                                                    "label": "data_inicio",
                                                                    "options": null,
                                                                    "required": false
                                                                },
                                                                {
                                                                    "help": "",
                                                                    "name": "data_fim",
                                                                    "type": "text",
                                                                    "label": "data_fim",
                                                                    "options": null,
                                                                    "required": false
                                                                },
                                                                {
                                                                    "help": "",
                                                                    "name": "observacao",
                                                                    "type": "text",
                                                                    "label": "observacao",
                                                                    "options": null,
                                                                    "required": false
                                                                },
                                                                {
                                                                    "help": "",
                                                                    "name": "data_criacao",
                                                                    "type": "text",
                                                                    "label": "data_criacao",
                                                                    "options": null,
                                                                    "required": false
                                                                },
                                                                {
                                                                    "help": "",
                                                                    "name": "data_atualizacao",
                                                                    "type": "text",
                                                                    "label": "data_atualizacao",
                                                                    "options": null,
                                                                    "required": false
                                                                }
                                                            ]
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "supabase"
                                                            },
                                                            "label": "Supabase FluxAI OS"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:supabase",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "table",
                                                        "type": "select",
                                                        "label": "Table",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "limite_id",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "client_id",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "client_name",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "mes_referencia",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "tipo_entrega",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "origem_limite",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "referencia_origem",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "limite_operacional_mensal",
                                                        "type": "number"
                                                    },
                                                    {
                                                        "name": "limite_ocupado",
                                                        "type": "number"
                                                    },
                                                    {
                                                        "name": "limite_publicado",
                                                        "type": "number"
                                                    },
                                                    {
                                                        "name": "limite_disponivel_operacional",
                                                        "type": "number"
                                                    },
                                                    {
                                                        "name": "status_limite",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "escopo_contratado",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "servico_extra_aprovado",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "ajuste_manual_autorizado",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "responsavel_autorizacao",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "data_inicio",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "data_fim",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "observacao",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "data_criacao",
                                                        "type": "text"
                                                    },
                                                    {
                                                        "name": "data_atualizacao",
                                                        "type": "text"
                                                    }
                                                ],
                                                "interface": [
                                                    {
                                                        "name": "limite_id",
                                                        "type": "text",
                                                        "label": "limite_id"
                                                    },
                                                    {
                                                        "name": "client_id",
                                                        "type": "text",
                                                        "label": "client_id"
                                                    },
                                                    {
                                                        "name": "client_name",
                                                        "type": "text",
                                                        "label": "client_name"
                                                    },
                                                    {
                                                        "name": "mes_referencia",
                                                        "type": "text",
                                                        "label": "mes_referencia"
                                                    },
                                                    {
                                                        "name": "tipo_entrega",
                                                        "type": "text",
                                                        "label": "tipo_entrega"
                                                    },
                                                    {
                                                        "name": "origem_limite",
                                                        "type": "text",
                                                        "label": "origem_limite"
                                                    },
                                                    {
                                                        "name": "referencia_origem",
                                                        "type": "text",
                                                        "label": "referencia_origem"
                                                    },
                                                    {
                                                        "name": "limite_operacional_mensal",
                                                        "type": "text",
                                                        "label": "limite_operacional_mensal"
                                                    },
                                                    {
                                                        "name": "limite_ocupado",
                                                        "type": "text",
                                                        "label": "limite_ocupado"
                                                    },
                                                    {
                                                        "name": "limite_publicado",
                                                        "type": "text",
                                                        "label": "limite_publicado"
                                                    },
                                                    {
                                                        "name": "limite_disponivel_operacional",
                                                        "type": "text",
                                                        "label": "limite_disponivel_operacional"
                                                    },
                                                    {
                                                        "name": "status_limite",
                                                        "type": "text",
                                                        "label": "status_limite"
                                                    },
                                                    {
                                                        "name": "escopo_contratado",
                                                        "type": "text",
                                                        "label": "escopo_contratado"
                                                    },
                                                    {
                                                        "name": "servico_extra_aprovado",
                                                        "type": "text",
                                                        "label": "servico_extra_aprovado"
                                                    },
                                                    {
                                                        "name": "ajuste_manual_autorizado",
                                                        "type": "text",
                                                        "label": "ajuste_manual_autorizado"
                                                    },
                                                    {
                                                        "name": "responsavel_autorizacao",
                                                        "type": "text",
                                                        "label": "responsavel_autorizacao"
                                                    },
                                                    {
                                                        "name": "data_inicio",
                                                        "type": "text",
                                                        "label": "data_inicio"
                                                    },
                                                    {
                                                        "name": "data_fim",
                                                        "type": "text",
                                                        "label": "data_fim"
                                                    },
                                                    {
                                                        "name": "observacao",
                                                        "type": "text",
                                                        "label": "observacao"
                                                    },
                                                    {
                                                        "name": "data_criacao",
                                                        "type": "text",
                                                        "label": "data_criacao"
                                                    },
                                                    {
                                                        "name": "data_atualizacao",
                                                        "type": "text",
                                                        "label": "data_atualizacao"
                                                    }
                                                ]
                                            },
                                            "onerror": [
                                                {
                                                    "id": 22,
                                                    "module": "builtin:Resume",
                                                    "version": 1,
                                                    "parameters": {},
                                                    "mapper": {
                                                        "data_fim": "{{9.`17`}}",
                                                        "client_id": "{{9.`1`}}",
                                                        "limite_id": "{{9.`0`}}",
                                                        "observacao": "{{9.`18`}}",
                                                        "client_name": "{{9.`2`}}",
                                                        "data_inicio": "{{9.`16`}}",
                                                        "data_criacao": "{{9.`19`}}",
                                                        "tipo_entrega": "{{9.`4`}}",
                                                        "origem_limite": "{{9.`5`}}",
                                                        "status_limite": "{{9.`11`}}",
                                                        "limite_ocupado": "{{10.limite_ocupado_final}}",
                                                        "mes_referencia": "{{9.`3`}}",
                                                        "data_atualizacao": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}",
                                                        "limite_publicado": "{{10.limite_publicado_final}}",
                                                        "escopo_contratado": "{{9.`12`}}",
                                                        "referencia_origem": "{{9.`6`}}",
                                                        "servico_extra_aprovado": "{{9.`13`}}",
                                                        "responsavel_autorizacao": "{{9.`15`}}",
                                                        "ajuste_manual_autorizado": "{{9.`14`}}",
                                                        "limite_operacional_mensal": "{{10.limite_operacional_mensal}}",
                                                        "limite_disponivel_operacional": "{{10.limite_disponivel_final}}"
                                                    },
                                                    "metadata": {
                                                        "designer": {
                                                            "x": 1091,
                                                            "y": 153
                                                        },
                                                        "restore": {},
                                                        "expect": [
                                                            {
                                                                "name": "limite_id",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "client_id",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "client_name",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "mes_referencia",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "tipo_entrega",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "origem_limite",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "referencia_origem",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "limite_operacional_mensal",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "limite_ocupado",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "limite_publicado",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "limite_disponivel_operacional",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "status_limite",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "escopo_contratado",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "servico_extra_aprovado",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "ajuste_manual_autorizado",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "responsavel_autorizacao",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "data_inicio",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "data_fim",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "observacao",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "data_criacao",
                                                                "type": "text"
                                                            },
                                                            {
                                                                "name": "data_atualizacao",
                                                                "type": "text"
                                                            }
                                                        ]
                                                    }
                                                }
                                            ]
                                        },
                                        {
                                            "id": 24,
                                            "module": "google-sheets:updateRow",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 8785925
                                            },
                                            "filter": null,
                                            "mapper": {
                                                "from": "drive",
                                                "mode": "select",
                                                "values": {
                                                    "2": "{{9.`2`}}",
                                                    "4": "{{9.`3`}}",
                                                    "5": "{{9.`4`}}",
                                                    "8": "{{9.`15`}}"
                                                },
                                                "sheetId": "IA_GERACOES_CONTROLE",
                                                "rowNumber": "{{2.rowNumber}}",
                                                "spreadsheetId": "/1-MZBzS2KOZ_pSIR9rVX_mkecdvmQjF9j9q8ahMKqxQE",
                                                "includesHeaders": true,
                                                "useColumnHeaders": true,
                                                "valueInputOption": "USER_ENTERED"
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1402,
                                                    "y": -244
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "from": {
                                                            "label": "My Drive"
                                                        },
                                                        "mode": {
                                                            "label": "Search by path"
                                                        },
                                                        "sheetId": {
                                                            "label": "IA_GERACOES_CONTROLE"
                                                        },
                                                        "spreadsheetId": {
                                                            "path": [
                                                                "FluxAI_Intelligence_Base_Ecossistema_Make"
                                                            ]
                                                        },
                                                        "includesHeaders": {
                                                            "label": "Yes"
                                                        },
                                                        "useColumnHeaders": {
                                                            "label": "Yes",
                                                            "nested": [
                                                                {
                                                                    "name": "values",
                                                                    "spec": [
                                                                        {
                                                                            "name": "0",
                                                                            "type": "text",
                                                                            "label": "geracao_id (A)"
                                                                        },
                                                                        {
                                                                            "name": "1",
                                                                            "type": "text",
                                                                            "label": "client_id (B)"
                                                                        },
                                                                        {
                                                                            "name": "2",
                                                                            "type": "text",
                                                                            "label": "client_name (C)"
                                                                        },
                                                                        {
                                                                            "name": "3",
                                                                            "type": "text",
                                                                            "label": "limite_id (D)"
                                                                        },
                                                                        {
                                                                            "name": "4",
                                                                            "type": "text",
                                                                            "label": "mes_referencia (E)"
                                                                        },
                                                                        {
                                                                            "name": "5",
                                                                            "type": "text",
                                                                            "label": "tipo_entrega (F)"
                                                                        },
                                                                        {
                                                                            "name": "6",
                                                                            "type": "text",
                                                                            "label": "origem_geracao (G)"
                                                                        },
                                                                        {
                                                                            "name": "7",
                                                                            "type": "text",
                                                                            "label": "solicitado_por (H)"
                                                                        },
                                                                        {
                                                                            "name": "8",
                                                                            "type": "text",
                                                                            "label": "responsavel_operacional (I)"
                                                                        },
                                                                        {
                                                                            "name": "9",
                                                                            "type": "text",
                                                                            "label": "status_geracao (J)"
                                                                        },
                                                                        {
                                                                            "name": "10",
                                                                            "type": "text",
                                                                            "label": "status_anterior (K)"
                                                                        },
                                                                        {
                                                                            "name": "11",
                                                                            "type": "text",
                                                                            "label": "ocupa_limite_operacional (L)"
                                                                        },
                                                                        {
                                                                            "name": "12",
                                                                            "type": "text",
                                                                            "label": "consumo_definitivo (M)"
                                                                        },
                                                                        {
                                                                            "name": "13",
                                                                            "type": "text",
                                                                            "label": "libera_espaco (N)"
                                                                        },
                                                                        {
                                                                            "name": "14",
                                                                            "type": "text",
                                                                            "label": "confirmacao_interna_liberacao (O)"
                                                                        },
                                                                        {
                                                                            "name": "15",
                                                                            "type": "text",
                                                                            "label": "motivo_alteracao (P)"
                                                                        },
                                                                        {
                                                                            "name": "16",
                                                                            "type": "text",
                                                                            "label": "link_resultado_drive (Q)"
                                                                        },
                                                                        {
                                                                            "name": "17",
                                                                            "type": "text",
                                                                            "label": "prompt_interno_id (R)"
                                                                        },
                                                                        {
                                                                            "name": "18",
                                                                            "type": "text",
                                                                            "label": "observacao (S)"
                                                                        },
                                                                        {
                                                                            "name": "19",
                                                                            "type": "text",
                                                                            "label": "data_status (T)"
                                                                        },
                                                                        {
                                                                            "name": "20",
                                                                            "type": "text",
                                                                            "label": "data_criacao (U)"
                                                                        },
                                                                        {
                                                                            "name": "21",
                                                                            "type": "text",
                                                                            "label": "data_atualizacao (V)"
                                                                        },
                                                                        {
                                                                            "name": "22",
                                                                            "type": "text",
                                                                            "label": "(W)"
                                                                        },
                                                                        {
                                                                            "name": "23",
                                                                            "type": "text",
                                                                            "label": "(X)"
                                                                        },
                                                                        {
                                                                            "name": "24",
                                                                            "type": "text",
                                                                            "label": "(Y)"
                                                                        },
                                                                        {
                                                                            "name": "25",
                                                                            "type": "text",
                                                                            "label": "(Z)"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Values in columns",
                                                                    "metadata": [
                                                                        [
                                                                            [
                                                                                "geracao_id",
                                                                                "client_id",
                                                                                "client_name",
                                                                                "limite_id",
                                                                                "mes_referencia",
                                                                                "tipo_entrega",
                                                                                "origem_geracao",
                                                                                "solicitado_por",
                                                                                "responsavel_operacional",
                                                                                "status_geracao",
                                                                                "status_anterior",
                                                                                "ocupa_limite_operacional",
                                                                                "consumo_definitivo",
                                                                                "libera_espaco",
                                                                                "confirmacao_interna_liberacao",
                                                                                "motivo_alteracao",
                                                                                "link_resultado_drive",
                                                                                "prompt_interno_id",
                                                                                "observacao",
                                                                                "data_status",
                                                                                "data_criacao",
                                                                                "data_atualizacao"
                                                                            ]
                                                                        ]
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        "valueInputOption": {
                                                            "mode": "chose",
                                                            "label": "User entered"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google"
                                                            },
                                                            "label": "Meu Google (fluxai.marketingdigital@gmail.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "mode",
                                                        "type": "select",
                                                        "label": "Search Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "select",
                                                                "fromAll",
                                                                "map"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "valueInputOption",
                                                        "type": "select",
                                                        "label": "Value input option",
                                                        "validate": {
                                                            "enum": [
                                                                "USER_ENTERED",
                                                                "RAW"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "from",
                                                        "type": "select",
                                                        "label": "Drive",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "drive",
                                                                "share",
                                                                "team"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "spreadsheetId",
                                                        "type": "file",
                                                        "label": "Spreadsheet Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "sheetId",
                                                        "type": "select",
                                                        "label": "Sheet Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "rowNumber",
                                                        "type": "uinteger",
                                                        "label": "Row number",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "includesHeaders",
                                                        "type": "select",
                                                        "label": "Table contains headers",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                true,
                                                                false
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "useColumnHeaders",
                                                        "type": "select",
                                                        "label": "Use column headers as IDs of the columns",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                true,
                                                                false
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "values",
                                                        "spec": [
                                                            {
                                                                "name": "0",
                                                                "type": "text",
                                                                "label": "geracao_id (A)"
                                                            },
                                                            {
                                                                "name": "1",
                                                                "type": "text",
                                                                "label": "client_id (B)"
                                                            },
                                                            {
                                                                "name": "2",
                                                                "type": "text",
                                                                "label": "client_name (C)"
                                                            },
                                                            {
                                                                "name": "3",
                                                                "type": "text",
                                                                "label": "limite_id (D)"
                                                            },
                                                            {
                                                                "name": "4",
                                                                "type": "text",
                                                                "label": "mes_referencia (E)"
                                                            },
                                                            {
                                                                "name": "5",
                                                                "type": "text",
                                                                "label": "tipo_entrega (F)"
                                                            },
                                                            {
                                                                "name": "6",
                                                                "type": "text",
                                                                "label": "origem_geracao (G)"
                                                            },
                                                            {
                                                                "name": "7",
                                                                "type": "text",
                                                                "label": "solicitado_por (H)"
                                                            },
                                                            {
                                                                "name": "8",
                                                                "type": "text",
                                                                "label": "responsavel_operacional (I)"
                                                            },
                                                            {
                                                                "name": "9",
                                                                "type": "text",
                                                                "label": "status_geracao (J)"
                                                            },
                                                            {
                                                                "name": "10",
                                                                "type": "text",
                                                                "label": "status_anterior (K)"
                                                            },
                                                            {
                                                                "name": "11",
                                                                "type": "text",
                                                                "label": "ocupa_limite_operacional (L)"
                                                            },
                                                            {
                                                                "name": "12",
                                                                "type": "text",
                                                                "label": "consumo_definitivo (M)"
                                                            },
                                                            {
                                                                "name": "13",
                                                                "type": "text",
                                                                "label": "libera_espaco (N)"
                                                            },
                                                            {
                                                                "name": "14",
                                                                "type": "text",
                                                                "label": "confirmacao_interna_liberacao (O)"
                                                            },
                                                            {
                                                                "name": "15",
                                                                "type": "text",
                                                                "label": "motivo_alteracao (P)"
                                                            },
                                                            {
                                                                "name": "16",
                                                                "type": "text",
                                                                "label": "link_resultado_drive (Q)"
                                                            },
                                                            {
                                                                "name": "17",
                                                                "type": "text",
                                                                "label": "prompt_interno_id (R)"
                                                            },
                                                            {
                                                                "name": "18",
                                                                "type": "text",
                                                                "label": "observacao (S)"
                                                            },
                                                            {
                                                                "name": "19",
                                                                "type": "text",
                                                                "label": "data_status (T)"
                                                            },
                                                            {
                                                                "name": "20",
                                                                "type": "text",
                                                                "label": "data_criacao (U)"
                                                            },
                                                            {
                                                                "name": "21",
                                                                "type": "text",
                                                                "label": "data_atualizacao (V)"
                                                            },
                                                            {
                                                                "name": "22",
                                                                "type": "text",
                                                                "label": "(W)"
                                                            },
                                                            {
                                                                "name": "23",
                                                                "type": "text",
                                                                "label": "(X)"
                                                            },
                                                            {
                                                                "name": "24",
                                                                "type": "text",
                                                                "label": "(Y)"
                                                            },
                                                            {
                                                                "name": "25",
                                                                "type": "text",
                                                                "label": "(Z)"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Values in columns",
                                                        "metadata": [
                                                            [
                                                                [
                                                                    "geracao_id",
                                                                    "client_id",
                                                                    "client_name",
                                                                    "limite_id",
                                                                    "mes_referencia",
                                                                    "tipo_entrega",
                                                                    "origem_geracao",
                                                                    "solicitado_por",
                                                                    "responsavel_operacional",
                                                                    "status_geracao",
                                                                    "status_anterior",
                                                                    "ocupa_limite_operacional",
                                                                    "consumo_definitivo",
                                                                    "libera_espaco",
                                                                    "confirmacao_interna_liberacao",
                                                                    "motivo_alteracao",
                                                                    "link_resultado_drive",
                                                                    "prompt_interno_id",
                                                                    "observacao",
                                                                    "data_status",
                                                                    "data_criacao",
                                                                    "data_atualizacao"
                                                                ]
                                                            ]
                                                        ]
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 23,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "body": "{\r\n  \"ok\": true,\r\n  \"status\": \"limite_operacional_atualizado\",\r\n  \"message\": \"Limite operacional de IA atualizado com sucesso.\",\r\n  \"client_id\": \"{{1.client_id}}\",\r\n  \"limite_id\": \"{{9.`0`}}\", \"client_name\": \"{{9.`2`}}\",\r\n  \"geracao_id\": \"{{1.asset_id}}\",\r\n  \"status_geracao\": \"{{1.status_geracao}}\",\r\n  \"limite_operacional_mensal\": \"{{10.limite_operacional_mensal}}\",\r\n  \"limite_ocupado\": \"{{10.limite_ocupado_final}}\",\r\n  \"limite_publicado\": \"{{10.limite_publicado_final}}\",\r\n  \"limite_disponivel_operacional\": \"{{10.limite_disponivel_final}}\"\r\n}",
                                                "status": "200",
                                                "headers": []
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1703,
                                                    "y": -242
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "headers": {
                                                            "mode": "chose"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "status",
                                                        "type": "uinteger",
                                                        "label": "Status",
                                                        "required": true,
                                                        "validate": {
                                                            "min": 100
                                                        }
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 256
                                                                }
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 4096
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Custom headers",
                                                        "validate": {
                                                            "maxItems": 16
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 15,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "filter": {
                                                "name": "LIMITE_EXCEDIDO",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{10.limite_ocupado_final}}",
                                                            "b": "{{10.limite_operacional_mensal}}",
                                                            "o": "number:greater"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "body": "{\r\n  \"ok\": false,\r\n  \"status\": \"limite_excedido\",\r\n  \"message\": \"Limite operacional mensal atingido. A geração não deve avançar sem ajuste interno ou serviço extra aprovado.\",\r\n  \"client_id\": \"{{1.client_id}}\",\r\n  \"limite_id\": \"{{9.`0`}}\",\r\n  \"limite_operacional_mensal\": \"{{10.limite_operacional_mensal}}\",\r\n  \"limite_ocupado_final\": \"{{10.limite_ocupado_final}}\",\r\n  \"limite_disponivel_operacional\": \"{{10.limite_disponivel_final}}\"\r\n}",
                                                "status": "200",
                                                "headers": []
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 425,
                                                    "y": 196
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "headers": {
                                                            "mode": "chose"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "status",
                                                        "type": "uinteger",
                                                        "label": "Status",
                                                        "required": true,
                                                        "validate": {
                                                            "min": 100
                                                        }
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 256
                                                                }
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 4096
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Custom headers",
                                                        "validate": {
                                                            "maxItems": 16
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 11,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "LIMITE_NAO_ENCONTRADO",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{9.`0`}}",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "body": "{\r\n  \"ok\": false,\r\n  \"status\": \"limite_nao_encontrado\",\r\n  \"message\": \"Nenhuma linha ativa de limite operacional foi encontrada para este cliente, mês e tipo de entrega.\",\r\n  \"client_id\": \"{{1.client_id}}\",\r\n  \"limite_id\": \"{{9.`0`}}\"\r\n}",
                                "status": "200",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": -176,
                                    "y": 176
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": false,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}