09_FLUXAI_NOVO_CLIENTE_ONBOARDING_SEGURO_FINAL_V6.json
{
    "name": "09_FLUXAI_NOVO_CLIENTE_ONBOARDING_SEGURO_FINAL_V6",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2372713,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "label": "FLUXAI_PROXY_CLIENT_ONBOARDING_2026"
                        }
                    }
                }
            }
        },
        {
            "id": 50,
            "module": "builtin:BasicRouter",
            "version": 1,
            "parameters": {},
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 150,
                    "y": 0
                }
            },
            "routes": [
                {
                    "name": "1",
                    "flow": [
                        {
                            "id": 100,
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "metadata": {
                                "designer": {
                                    "x": 400,
                                    "y": -600
                                }
                            },
                            "parameters": {
                                "__IMTCONN__": 8785925
                            },
                            "mapper": {
                                "mode": "select",
                                "from": "drive",
                                "spreadsheetId": "/1-MZBzS2KOZ_pSIR9rVX_mkecdvmQjF9j9q8ahMKqxQE",
                                "sheetId": "01_CLIENTES_ESTRATEGIA",
                                "includesHeaders": true,
                                "useColumnHeaders": false,
                                "valueInputOption": "USER_ENTERED",
                                "filter": [
                                    [
                                        {
                                            "a": "A",
                                            "o": "text:equal",
                                            "b": "{{1.client_id}}"
                                        }
                                    ]
                                ]
                            }
                        },
                        {
                            "id": 101,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 100
                            },
                            "mapper": {},
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": -600
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Google Sheets - Search Rows [100]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 102,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 800,
                                    "y": -600
                                }
                            },
                            "routes": [
                                {
                                    "name": "Não existe (Add)",
                                    "filter": {
                                        "name": "Add",
                                        "conditions": [
                                            [
                                                {
                                                    "a": "{{length(101.array)}}",
                                                    "o": "numeric:equal",
                                                    "b": "0"
                                                }
                                            ]
                                        ]
                                    },
                                    "flow": [
                                        {
                                            "id": 103,
                                            "module": "google-sheets:addRow",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 8785925
                                            },
                                            "mapper": {
                                                "0": "{{1.client_id}}",
                                                "1": "{{1.client_name}}",
                                                "2": "{{1.tipo_cliente}}",
                                                "3": "{{1.segmento}}",
                                                "4": "{{1.posicionamento_atual}}",
                                                "5": "{{1.posicionamento_desejado}}",
                                                "6": "{{1.proposta_valor}}",
                                                "7": "{{1.diferenciais}}",
                                                "8": "{{1.publico_alvo}}",
                                                "9": "{{1.persona_principal}}",
                                                "10": "{{1.dor_principal}}",
                                                "11": "{{1.desejo_principal}}",
                                                "12": "{{1.inimigo_comum}}",
                                                "13": "{{1.nivel_percepcao_premium}}",
                                                "14": "{{1.objetivo_principal}}",
                                                "15": "{{1.objetivo_mes_atual}}",
                                                "16": "{{1.prioridade_estrategica}}",
                                                "17": "{{1.tom_de_voz}}",
                                                "18": "{{1.palavras_evitar}}",
                                                "19": "{{1.palavras_usar}}",
                                                "20": "{{1.restricoes_comunicacao}}",
                                                "21": "{{1.roadmap_ia}}",
                                                "22": "{{1.status_cliente}}",
                                                "23": "{{1.responsavel_fluxai}}",
                                                "24": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}",
                                                "25": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}",
                                                "mode": "select",
                                                "valueInputOption": "USER_ENTERED",
                                                "from": "drive",
                                                "spreadsheetId": "/1-MZBzS2KOZ_pSIR9rVX_mkecdvmQjF9j9q8ahMKqxQE",
                                                "sheetId": "01_CLIENTES_ESTRATEGIA",
                                                "includesHeaders": true,
                                                "useColumnHeaders": false,
                                                "insertDataOption": "INSERT_ROWS",
                                                "insertUnformatted": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1100,
                                                    "y": -750
                                                }
                                            }
                                        }
                                    ]
                                },
                                {
                                    "name": "Existe (Update)",
                                    "filter": {
                                        "name": "Update",
                                        "conditions": [
                                            [
                                                {
                                                    "a": "{{length(101.array)}}",
                                                    "o": "numeric:greater",
                                                    "b": "0"
                                                }
                                            ]
                                        ]
                                    },
                                    "flow": [
                                        {
                                            "id": 104,
                                            "module": "google-sheets:updateRow",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 8785925
                                            },
                                            "mapper": {
                                                "0": "{{1.client_id}}",
                                                "1": "{{1.client_name}}",
                                                "2": "{{1.tipo_cliente}}",
                                                "3": "{{1.segmento}}",
                                                "4": "{{1.posicionamento_atual}}",
                                                "5": "{{1.posicionamento_desejado}}",
                                                "6": "{{1.proposta_valor}}",
                                                "7": "{{1.diferenciais}}",
                                                "8": "{{1.publico_alvo}}",
                                                "9": "{{1.persona_principal}}",
                                                "10": "{{1.dor_principal}}",
                                                "11": "{{1.desejo_principal}}",
                                                "12": "{{1.inimigo_comum}}",
                                                "13": "{{1.nivel_percepcao_premium}}",
                                                "14": "{{1.objetivo_principal}}",
                                                "15": "{{1.objetivo_mes_atual}}",
                                                "16": "{{1.prioridade_estrategica}}",
                                                "17": "{{1.tom_de_voz}}",
                                                "18": "{{1.palavras_evitar}}",
                                                "19": "{{1.palavras_usar}}",
                                                "20": "{{1.restricoes_comunicacao}}",
                                                "21": "{{1.roadmap_ia}}",
                                                "22": "{{1.status_cliente}}",
                                                "23": "{{1.responsavel_fluxai}}",
                                                "25": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}",
                                                "mode": "select",
                                                "valueInputOption": "USER_ENTERED",
                                                "from": "drive",
                                                "spreadsheetId": "/1-MZBzS2KOZ_pSIR9rVX_mkecdvmQjF9j9q8ahMKqxQE",
                                                "sheetId": "01_CLIENTES_ESTRATEGIA",
                                                "rowNumber": "{{get(map(101.array; \"rowNumber\"); 1)}}",
                                                "includesHeaders": true,
                                                "useColumnHeaders": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1100,
                                                    "y": -450
                                                }
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "2",
                    "flow": [
                        {
                            "id": 200,
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "metadata": {
                                "designer": {
                                    "x": 400,
                                    "y": -200
                                }
                            },
                            "parameters": {
                                "__IMTCONN__": 8785925
                            },
                            "mapper": {
                                "mode": "select",
                                "from": "drive",
                                "spreadsheetId": "/1-MZBzS2KOZ_pSIR9rVX_mkecdvmQjF9j9q8ahMKqxQE",
                                "sheetId": "02_CONTRATOS_CLIENTES",
                                "includesHeaders": true,
                                "useColumnHeaders": false,
                                "valueInputOption": "USER_ENTERED",
                                "filter": [
                                    [
                                        {
                                            "a": "A",
                                            "o": "text:equal",
                                            "b": "{{1.contrato_id}}"
                                        }
                                    ]
                                ]
                            }
                        },
                        {
                            "id": 201,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 200
                            },
                            "mapper": {},
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": -200
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Google Sheets - Search Rows [200]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 202,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 800,
                                    "y": -200
                                }
                            },
                            "routes": [
                                {
                                    "name": "Não existe (Add)",
                                    "filter": {
                                        "name": "Add",
                                        "conditions": [
                                            [
                                                {
                                                    "a": "{{length(201.array)}}",
                                                    "o": "numeric:equal",
                                                    "b": "0"
                                                }
                                            ]
                                        ]
                                    },
                                    "flow": [
                                        {
                                            "id": 203,
                                            "module": "google-sheets:addRow",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 8785925
                                            },
                                            "mapper": {
                                                "0": "{{1.contrato_id}}",
                                                "1": "{{1.client_id}}",
                                                "2": "{{1.client_name}}",
                                                "3": "{{1.tipo_contrato}}",
                                                "4": "{{1.plano_cliente}}",
                                                "5": "{{1.status_contrato}}",
                                                "6": "{{1.data_inicio}}",
                                                "7": "{{1.data_fim}}",
                                                "8": "{{1.dia_vencimento}}",
                                                "9": "{{1.fee_mensal}}",
                                                "10": "{{1.valor_setup}}",
                                                "11": "{{1.modulos_contratados}}",
                                                "12": "{{1.escopo_setup}}",
                                                "13": "{{1.creditos_ia_base_mes}}",
                                                "14": "{{1.link_contrato_drive}}",
                                                "15": "{{1.link_proposta_drive}}",
                                                "16": "{{1.observacao_contrato}}",
                                                "17": "{{1.responsavel_comercial}}",
                                                "18": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}",
                                                "19": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}",
                                                "mode": "select",
                                                "valueInputOption": "USER_ENTERED",
                                                "from": "drive",
                                                "spreadsheetId": "/1-MZBzS2KOZ_pSIR9rVX_mkecdvmQjF9j9q8ahMKqxQE",
                                                "sheetId": "02_CONTRATOS_CLIENTES",
                                                "includesHeaders": true,
                                                "useColumnHeaders": false,
                                                "insertDataOption": "INSERT_ROWS",
                                                "insertUnformatted": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1100,
                                                    "y": -350
                                                }
                                            }
                                        }
                                    ]
                                },
                                {
                                    "name": "Existe (Update)",
                                    "filter": {
                                        "name": "Update",
                                        "conditions": [
                                            [
                                                {
                                                    "a": "{{length(201.array)}}",
                                                    "o": "numeric:greater",
                                                    "b": "0"
                                                }
                                            ]
                                        ]
                                    },
                                    "flow": [
                                        {
                                            "id": 204,
                                            "module": "google-sheets:updateRow",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 8785925
                                            },
                                            "mapper": {
                                                "0": "{{1.contrato_id}}",
                                                "1": "{{1.client_id}}",
                                                "2": "{{1.client_name}}",
                                                "3": "{{1.tipo_contrato}}",
                                                "4": "{{1.plano_cliente}}",
                                                "5": "{{1.status_contrato}}",
                                                "6": "{{1.data_inicio}}",
                                                "7": "{{1.data_fim}}",
                                                "8": "{{1.dia_vencimento}}",
                                                "9": "{{1.fee_mensal}}",
                                                "10": "{{1.valor_setup}}",
                                                "11": "{{1.modulos_contratados}}",
                                                "12": "{{1.escopo_setup}}",
                                                "13": "{{1.creditos_ia_base_mes}}",
                                                "14": "{{1.link_contrato_drive}}",
                                                "15": "{{1.link_proposta_drive}}",
                                                "16": "{{1.observacao_contrato}}",
                                                "17": "{{1.responsavel_comercial}}",
                                                "19": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}",
                                                "mode": "select",
                                                "valueInputOption": "USER_ENTERED",
                                                "from": "drive",
                                                "spreadsheetId": "/1-MZBzS2KOZ_pSIR9rVX_mkecdvmQjF9j9q8ahMKqxQE",
                                                "sheetId": "02_CONTRATOS_CLIENTES",
                                                "rowNumber": "{{get(map(201.array; \"rowNumber\"); 1)}}",
                                                "includesHeaders": true,
                                                "useColumnHeaders": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1100,
                                                    "y": -50
                                                }
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "3",
                    "flow": [
                        {
                            "id": 300,
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "metadata": {
                                "designer": {
                                    "x": 400,
                                    "y": 200
                                }
                            },
                            "parameters": {
                                "__IMTCONN__": 8785925
                            },
                            "mapper": {
                                "mode": "select",
                                "from": "drive",
                                "spreadsheetId": "/1-MZBzS2KOZ_pSIR9rVX_mkecdvmQjF9j9q8ahMKqxQE",
                                "sheetId": "11_DNA_CLIENTE_GPT",
                                "includesHeaders": true,
                                "useColumnHeaders": false,
                                "valueInputOption": "USER_ENTERED",
                                "filter": [
                                    [
                                        {
                                            "a": "A",
                                            "o": "text:equal",
                                            "b": "DNA_{{1.client_id}}"
                                        }
                                    ]
                                ]
                            }
                        },
                        {
                            "id": 301,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 300
                            },
                            "mapper": {},
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 200
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Google Sheets - Search Rows [300]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 302,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 800,
                                    "y": 200
                                }
                            },
                            "routes": [
                                {
                                    "name": "Não existe (Add)",
                                    "filter": {
                                        "name": "Add",
                                        "conditions": [
                                            [
                                                {
                                                    "a": "{{length(301.array)}}",
                                                    "o": "numeric:equal",
                                                    "b": "0"
                                                }
                                            ]
                                        ]
                                    },
                                    "flow": [
                                        {
                                            "id": 303,
                                            "module": "google-sheets:addRow",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 8785925
                                            },
                                            "mapper": {
                                                "0": "DNA_{{1.client_id}}",
                                                "1": "{{1.client_id}}",
                                                "2": "{{1.client_name}}",
                                                "3": "{{1.proposta_valor}}",
                                                "4": "{{1.diferenciais}}",
                                                "5": "{{1.tom_de_voz}}",
                                                "6": "estratégico, executivo, claro e humano",
                                                "7": "{{1.pilares_editoriais}}",
                                                "8": "{{1.linguagem_proibida}}",
                                                "9": "{{1.linguagem_proibida}}",
                                                "10": "{{1.proposta_valor}}",
                                                "11": "{{1.roadmap_ia}}",
                                                "12": "{{1.drive_folder_url}}",
                                                "13": "{{1.posicionamento_editorial}}",
                                                "14": "Não prometer resultado garantido",
                                                "15": "Evitar hype, promessa milagrosa e linguagem genérica",
                                                "16": "{{1.cta_padrao}}",
                                                "17": "{{1.linguagem_permitida}}",
                                                "18": "{{1.pilares_editoriais}}",
                                                "19": "{{1.pilares_editoriais}}",
                                                "20": "{{1.roadmap_ia}}",
                                                "21": "ativo",
                                                "22": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}",
                                                "23": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}",
                                                "mode": "select",
                                                "valueInputOption": "USER_ENTERED",
                                                "from": "drive",
                                                "spreadsheetId": "/1-MZBzS2KOZ_pSIR9rVX_mkecdvmQjF9j9q8ahMKqxQE",
                                                "sheetId": "11_DNA_CLIENTE_GPT",
                                                "includesHeaders": true,
                                                "useColumnHeaders": false,
                                                "insertDataOption": "INSERT_ROWS",
                                                "insertUnformatted": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1100,
                                                    "y": 50
                                                }
                                            }
                                        }
                                    ]
                                },
                                {
                                    "name": "Existe (Update)",
                                    "filter": {
                                        "name": "Update",
                                        "conditions": [
                                            [
                                                {
                                                    "a": "{{length(301.array)}}",
                                                    "o": "numeric:greater",
                                                    "b": "0"
                                                }
                                            ]
                                        ]
                                    },
                                    "flow": [
                                        {
                                            "id": 304,
                                            "module": "google-sheets:updateRow",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 8785925
                                            },
                                            "mapper": {
                                                "0": "DNA_{{1.client_id}}",
                                                "1": "{{1.client_id}}",
                                                "2": "{{1.client_name}}",
                                                "3": "{{1.proposta_valor}}",
                                                "4": "{{1.diferenciais}}",
                                                "5": "{{1.tom_de_voz}}",
                                                "6": "estratégico, executivo, claro e humano",
                                                "7": "{{1.pilares_editoriais}}",
                                                "8": "{{1.linguagem_proibida}}",
                                                "9": "{{1.linguagem_proibida}}",
                                                "10": "{{1.proposta_valor}}",
                                                "11": "{{1.roadmap_ia}}",
                                                "12": "{{1.drive_folder_url}}",
                                                "13": "{{1.posicionamento_editorial}}",
                                                "14": "Não prometer resultado garantido",
                                                "15": "Evitar hype, promessa milagrosa e linguagem genérica",
                                                "16": "{{1.cta_padrao}}",
                                                "17": "{{1.linguagem_permitida}}",
                                                "18": "{{1.pilares_editoriais}}",
                                                "19": "{{1.pilares_editoriais}}",
                                                "20": "{{1.roadmap_ia}}",
                                                "21": "ativo",
                                                "23": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}",
                                                "mode": "select",
                                                "valueInputOption": "USER_ENTERED",
                                                "from": "drive",
                                                "spreadsheetId": "/1-MZBzS2KOZ_pSIR9rVX_mkecdvmQjF9j9q8ahMKqxQE",
                                                "sheetId": "11_DNA_CLIENTE_GPT",
                                                "rowNumber": "{{get(map(301.array; \"rowNumber\"); 1)}}",
                                                "includesHeaders": true,
                                                "useColumnHeaders": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1100,
                                                    "y": 350
                                                }
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "4",
                    "flow": [
                        {
                            "id": 400,
                            "module": "google-sheets:filterRows",
                            "version": 2,
                            "metadata": {
                                "designer": {
                                    "x": 400,
                                    "y": 600
                                }
                            },
                            "parameters": {
                                "__IMTCONN__": 8785925
                            },
                            "mapper": {
                                "mode": "select",
                                "from": "drive",
                                "spreadsheetId": "/1-MZBzS2KOZ_pSIR9rVX_mkecdvmQjF9j9q8ahMKqxQE",
                                "sheetId": "10_IA_CREDITOS_CLIENTE",
                                "includesHeaders": true,
                                "useColumnHeaders": false,
                                "valueInputOption": "USER_ENTERED",
                                "filter": [
                                    [
                                        {
                                            "a": "A",
                                            "o": "text:equal",
                                            "b": "{{1.limite_id}}"
                                        }
                                    ]
                                ]
                            }
                        },
                        {
                            "id": 401,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 400
                            },
                            "mapper": {},
                            "metadata": {
                                "designer": {
                                    "x": 600,
                                    "y": 600
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Google Sheets - Search Rows [400]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 402,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 800,
                                    "y": 600
                                }
                            },
                            "routes": [
                                {
                                    "name": "Não existe (Add)",
                                    "filter": {
                                        "name": "Add",
                                        "conditions": [
                                            [
                                                {
                                                    "a": "{{length(401.array)}}",
                                                    "o": "numeric:equal",
                                                    "b": "0"
                                                }
                                            ]
                                        ]
                                    },
                                    "flow": [
                                        {
                                            "id": 403,
                                            "module": "google-sheets:addRow",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 8785925
                                            },
                                            "mapper": {
                                                "0": "{{1.limite_id}}",
                                                "1": "{{1.client_id}}",
                                                "2": "{{1.client_name}}",
                                                "3": "{{1.mes_referencia}}",
                                                "4": "{{1.tipo_entrega}}",
                                                "5": "contrato_interno",
                                                "6": "{{1.contrato_id}}",
                                                "7": "{{1.creditos_ia_base_mes}}",
                                                "8": "0",
                                                "9": "0",
                                                "10": "{{1.creditos_ia_base_mes}}",
                                                "11": "ativo",
                                                "12": "{{1.modulos_contratados}}",
                                                "13": "não",
                                                "14": "não",
                                                "15": "{{1.responsavel}}",
                                                "16": "{{1.data_inicio}}",
                                                "17": "{{1.data_fim}}",
                                                "18": "Limite operacional interno de IA. Não representa crédito financeiro.",
                                                "19": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}",
                                                "20": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}",
                                                "mode": "select",
                                                "valueInputOption": "USER_ENTERED",
                                                "from": "drive",
                                                "spreadsheetId": "/1-MZBzS2KOZ_pSIR9rVX_mkecdvmQjF9j9q8ahMKqxQE",
                                                "sheetId": "10_IA_CREDITOS_CLIENTE",
                                                "includesHeaders": true,
                                                "useColumnHeaders": false,
                                                "insertDataOption": "INSERT_ROWS",
                                                "insertUnformatted": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1100,
                                                    "y": 450
                                                }
                                            }
                                        }
                                    ]
                                },
                                {
                                    "name": "Existe (Update)",
                                    "filter": {
                                        "name": "Update",
                                        "conditions": [
                                            [
                                                {
                                                    "a": "{{length(401.array)}}",
                                                    "o": "numeric:greater",
                                                    "b": "0"
                                                }
                                            ]
                                        ]
                                    },
                                    "flow": [
                                        {
                                            "id": 404,
                                            "module": "google-sheets:updateRow",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 8785925
                                            },
                                            "mapper": {
                                                "0": "{{1.limite_id}}",
                                                "1": "{{1.client_id}}",
                                                "2": "{{1.client_name}}",
                                                "3": "{{1.mes_referencia}}",
                                                "4": "{{1.tipo_entrega}}",
                                                "5": "contrato_interno",
                                                "6": "{{1.contrato_id}}",
                                                "7": "{{1.creditos_ia_base_mes}}",
                                                "8": "0",
                                                "9": "0",
                                                "10": "{{1.creditos_ia_base_mes}}",
                                                "11": "ativo",
                                                "12": "{{1.modulos_contratados}}",
                                                "13": "não",
                                                "14": "não",
                                                "15": "{{1.responsavel}}",
                                                "16": "{{1.data_inicio}}",
                                                "17": "{{1.data_fim}}",
                                                "18": "Limite operacional interno de IA. Não representa crédito financeiro.",
                                                "20": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}",
                                                "mode": "select",
                                                "valueInputOption": "USER_ENTERED",
                                                "from": "drive",
                                                "spreadsheetId": "/1-MZBzS2KOZ_pSIR9rVX_mkecdvmQjF9j9q8ahMKqxQE",
                                                "sheetId": "10_IA_CREDITOS_CLIENTE",
                                                "rowNumber": "{{get(map(401.array; \"rowNumber\"); 1)}}",
                                                "includesHeaders": true,
                                                "useColumnHeaders": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1100,
                                                    "y": 750
                                                }
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "name": "Supabase",
                    "flow": [
                        {
                            "id": 501,
                            "module": "supabase:upsertARecord",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 9280896
                            },
                            "mapper": {
                                "table": "CLIENTES_ESTRATEGIA",
                                "client_id": "{{1.client_id}}",
                                "cliente_nome": "{{1.client_name}}",
                                "segmento": "{{1.segmento}}",
                                "objetivo_principal": "{{1.objetivo_principal}}",
                                "responsavel_fluxai": "{{1.responsavel_fluxai}}",
                                "status_cliente": "{{1.status_cliente}}",
                                "data_atualizacao": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}"
                            },
                            "onerror": [
                                {
                                    "id": 601,
                                    "module": "builtin:Resume",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {},
                                    "metadata": {
                                        "designer": {
                                            "x": 550,
                                            "y": 1100
                                        }
                                    }
                                }
                            ],
                            "metadata": {
                                "designer": {
                                    "x": 400,
                                    "y": 1000
                                }
                            }
                        },
                        {
                            "id": 502,
                            "module": "supabase:upsertARecord",
                            "version": 1,
                            "parameters": {
                                "__IMTCONN__": 9280896
                            },
                            "mapper": {
                                "table": "CONTRATOS_CLIENTES",
                                "contrato_id": "{{1.contrato_id}}",
                                "client_id": "{{1.client_id}}",
                                "cliente_nome": "{{1.client_name}}",
                                "tipo_contrato": "{{1.tipo_contrato}}",
                                "plano_cliente": "{{1.plano_cliente}}",
                                "status_contrato": "{{1.status_contrato}}",
                                "data_inicio": "{{1.data_inicio}}",
                                "dia_vencimento": "{{1.dia_vencimento}}",
                                "valor_mensal": "{{1.fee_mensal}}",
                                "escopo_contratado": "{{1.escopo_setup}}",
                                "responsavel_comercial": "{{1.responsavel_comercial}}",
                                "data_atualizacao": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}"
                            },
                            "onerror": [
                                {
                                    "id": 602,
                                    "module": "builtin:Resume",
                                    "version": 1,
                                    "parameters": {},
                                    "mapper": {},
                                    "metadata": {
                                        "designer": {
                                            "x": 850,
                                            "y": 1300
                                        }
                                    }
                                }
                            ],
                            "metadata": {
                                "designer": {
                                    "x": 700,
                                    "y": 1200
                                }
                            }
                        }
                    ]
                }
            ]
        }
    ]
}