FluxAI OS™/Make/Blueprints_Homologados_ 2026-06-09/15_PLANEJAMENTO_CONTEUDO/15_FLUXAI_PLANEJAMENTO_CONTEUDO_HOMOLOGADO_2026-06-09.blueprint.json.json
{
    "name": "15_FLUXAI_PLANEJAMENTO_CONTEUDO",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2372814,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -391,
                    "y": -89
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "FLUXAI_PROXY_PLANEJAMENTO_CONTEUDO_2026"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "google-sheets:filterRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 8785925
            },
            "filter": null,
            "mapper": {
                "from": "drive",
                "limit": "1",
                "filter": [
                    [
                        {
                            "a": "A",
                            "b": "{{1.limite_id}}",
                            "o": "text:equal"
                        }
                    ]
                ],
                "sheetId": "10_IA_CREDITOS_CLIENTE",
                "sortOrder": "asc",
                "spreadsheetId": "1-MZBzS2KOZ_pSIR9rVX_mkecdvmQjF9j9q8ahMKqxQE",
                "tableFirstRow": "A1:CZ1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": -67,
                    "y": -81,
                    "name": " Google Sheets — Search Rows em 10_IA_CREDITOS_CLI"
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "Select from My Drive"
                        },
                        "orderBy": {
                            "mode": "chose"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "10_IA_CREDITOS_CLIENTE"
                        },
                        "sortOrder": {
                            "mode": "chose",
                            "label": "Ascending"
                        },
                        "spreadsheetId": {
                            "mode": "chose",
                            "label": "FluxAI_Intelligence_Base_Ecossistema_Make"
                        },
                        "tableFirstRow": {
                            "label": "A-CZ"
                        },
                        "includesHeaders": {
                            "mode": "chose",
                            "label": "Yes"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "Meu Google (fluxai.marketingdigital@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share"
                            ]
                        }
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "limit",
                        "type": "uinteger",
                        "label": "Limit"
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "select",
                        "label": "Spreadsheet Name",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1",
                                "A1:AZZ1",
                                "A1:BZZ1",
                                "A1:CZZ1",
                                "A1:DZZ1",
                                "A1:MZZ1",
                                "A1:ZZZ1"
                            ]
                        }
                    },
                    {
                        "name": "filter",
                        "type": "filter",
                        "label": "Filter",
                        "options": "rpc://google-sheets/2/rpcGetFilterKeys?includesHeaders=true"
                    },
                    {
                        "name": "orderBy",
                        "type": "select",
                        "label": "Order by"
                    },
                    {
                        "name": "sortOrder",
                        "type": "select",
                        "label": "Sort order",
                        "validate": {
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "limite_id (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "client_id (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "client_name (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "mes_referencia (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "tipo_entrega (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "origem_limite (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "referencia_origem (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "limite_operacional_mensal (H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "limite_ocupado (I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "limite_publicado (J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "limite_disponivel_operacional (K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "status_limite (L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "escopo_contratado (M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "servico_extra_aprovado (N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "ajuste_manual_autorizado (O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "responsavel_autorizacao (P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "data_inicio (Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "data_fim (R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "observacao (S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "data_criacao (T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "data_atualizacao (U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    },
                    {
                        "name": "26",
                        "type": "text",
                        "label": "(AA)"
                    },
                    {
                        "name": "27",
                        "type": "text",
                        "label": "(AB)"
                    },
                    {
                        "name": "28",
                        "type": "text",
                        "label": "(AC)"
                    },
                    {
                        "name": "29",
                        "type": "text",
                        "label": "(AD)"
                    },
                    {
                        "name": "30",
                        "type": "text",
                        "label": "(AE)"
                    },
                    {
                        "name": "31",
                        "type": "text",
                        "label": "(AF)"
                    },
                    {
                        "name": "32",
                        "type": "text",
                        "label": "(AG)"
                    },
                    {
                        "name": "33",
                        "type": "text",
                        "label": "(AH)"
                    },
                    {
                        "name": "34",
                        "type": "text",
                        "label": "(AI)"
                    },
                    {
                        "name": "35",
                        "type": "text",
                        "label": "(AJ)"
                    },
                    {
                        "name": "36",
                        "type": "text",
                        "label": "(AK)"
                    },
                    {
                        "name": "37",
                        "type": "text",
                        "label": "(AL)"
                    },
                    {
                        "name": "38",
                        "type": "text",
                        "label": "(AM)"
                    },
                    {
                        "name": "39",
                        "type": "text",
                        "label": "(AN)"
                    },
                    {
                        "name": "40",
                        "type": "text",
                        "label": "(AO)"
                    },
                    {
                        "name": "41",
                        "type": "text",
                        "label": "(AP)"
                    },
                    {
                        "name": "42",
                        "type": "text",
                        "label": "(AQ)"
                    },
                    {
                        "name": "43",
                        "type": "text",
                        "label": "(AR)"
                    },
                    {
                        "name": "44",
                        "type": "text",
                        "label": "(AS)"
                    },
                    {
                        "name": "45",
                        "type": "text",
                        "label": "(AT)"
                    },
                    {
                        "name": "46",
                        "type": "text",
                        "label": "(AU)"
                    },
                    {
                        "name": "47",
                        "type": "text",
                        "label": "(AV)"
                    },
                    {
                        "name": "48",
                        "type": "text",
                        "label": "(AW)"
                    },
                    {
                        "name": "49",
                        "type": "text",
                        "label": "(AX)"
                    },
                    {
                        "name": "50",
                        "type": "text",
                        "label": "(AY)"
                    },
                    {
                        "name": "51",
                        "type": "text",
                        "label": "(AZ)"
                    },
                    {
                        "name": "52",
                        "type": "text",
                        "label": "(BA)"
                    },
                    {
                        "name": "53",
                        "type": "text",
                        "label": "(BB)"
                    },
                    {
                        "name": "54",
                        "type": "text",
                        "label": "(BC)"
                    },
                    {
                        "name": "55",
                        "type": "text",
                        "label": "(BD)"
                    },
                    {
                        "name": "56",
                        "type": "text",
                        "label": "(BE)"
                    },
                    {
                        "name": "57",
                        "type": "text",
                        "label": "(BF)"
                    },
                    {
                        "name": "58",
                        "type": "text",
                        "label": "(BG)"
                    },
                    {
                        "name": "59",
                        "type": "text",
                        "label": "(BH)"
                    },
                    {
                        "name": "60",
                        "type": "text",
                        "label": "(BI)"
                    },
                    {
                        "name": "61",
                        "type": "text",
                        "label": "(BJ)"
                    },
                    {
                        "name": "62",
                        "type": "text",
                        "label": "(BK)"
                    },
                    {
                        "name": "63",
                        "type": "text",
                        "label": "(BL)"
                    },
                    {
                        "name": "64",
                        "type": "text",
                        "label": "(BM)"
                    },
                    {
                        "name": "65",
                        "type": "text",
                        "label": "(BN)"
                    },
                    {
                        "name": "66",
                        "type": "text",
                        "label": "(BO)"
                    },
                    {
                        "name": "67",
                        "type": "text",
                        "label": "(BP)"
                    },
                    {
                        "name": "68",
                        "type": "text",
                        "label": "(BQ)"
                    },
                    {
                        "name": "69",
                        "type": "text",
                        "label": "(BR)"
                    },
                    {
                        "name": "70",
                        "type": "text",
                        "label": "(BS)"
                    },
                    {
                        "name": "71",
                        "type": "text",
                        "label": "(BT)"
                    },
                    {
                        "name": "72",
                        "type": "text",
                        "label": "(BU)"
                    },
                    {
                        "name": "73",
                        "type": "text",
                        "label": "(BV)"
                    },
                    {
                        "name": "74",
                        "type": "text",
                        "label": "(BW)"
                    },
                    {
                        "name": "75",
                        "type": "text",
                        "label": "(BX)"
                    },
                    {
                        "name": "76",
                        "type": "text",
                        "label": "(BY)"
                    },
                    {
                        "name": "77",
                        "type": "text",
                        "label": "(BZ)"
                    },
                    {
                        "name": "78",
                        "type": "text",
                        "label": "(CA)"
                    },
                    {
                        "name": "79",
                        "type": "text",
                        "label": "(CB)"
                    },
                    {
                        "name": "80",
                        "type": "text",
                        "label": "(CC)"
                    },
                    {
                        "name": "81",
                        "type": "text",
                        "label": "(CD)"
                    },
                    {
                        "name": "82",
                        "type": "text",
                        "label": "(CE)"
                    },
                    {
                        "name": "83",
                        "type": "text",
                        "label": "(CF)"
                    },
                    {
                        "name": "84",
                        "type": "text",
                        "label": "(CG)"
                    },
                    {
                        "name": "85",
                        "type": "text",
                        "label": "(CH)"
                    },
                    {
                        "name": "86",
                        "type": "text",
                        "label": "(CI)"
                    },
                    {
                        "name": "87",
                        "type": "text",
                        "label": "(CJ)"
                    },
                    {
                        "name": "88",
                        "type": "text",
                        "label": "(CK)"
                    },
                    {
                        "name": "89",
                        "type": "text",
                        "label": "(CL)"
                    },
                    {
                        "name": "90",
                        "type": "text",
                        "label": "(CM)"
                    },
                    {
                        "name": "91",
                        "type": "text",
                        "label": "(CN)"
                    },
                    {
                        "name": "92",
                        "type": "text",
                        "label": "(CO)"
                    },
                    {
                        "name": "93",
                        "type": "text",
                        "label": "(CP)"
                    },
                    {
                        "name": "94",
                        "type": "text",
                        "label": "(CQ)"
                    },
                    {
                        "name": "95",
                        "type": "text",
                        "label": "(CR)"
                    },
                    {
                        "name": "96",
                        "type": "text",
                        "label": "(CS)"
                    },
                    {
                        "name": "97",
                        "type": "text",
                        "label": "(CT)"
                    },
                    {
                        "name": "98",
                        "type": "text",
                        "label": "(CU)"
                    },
                    {
                        "name": "99",
                        "type": "text",
                        "label": "(CV)"
                    },
                    {
                        "name": "100",
                        "type": "text",
                        "label": "(CW)"
                    },
                    {
                        "name": "101",
                        "type": "text",
                        "label": "(CX)"
                    },
                    {
                        "name": "102",
                        "type": "text",
                        "label": "(CY)"
                    },
                    {
                        "name": "103",
                        "type": "text",
                        "label": "(CZ)"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "builtin:BasicRouter",
            "version": 1,
            "filter": null,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 235,
                    "y": -79,
                    "name": "Router — LIMITE_ENCONTRADO / LIMITE_NAO_ENCONTRADO"
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 5,
                            "module": "util:SetVariables",
                            "version": 1,
                            "parameters": {},
                            "filter": {
                                "name": "LIMITE_ENCONTRADO",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.`0`}}",
                                            "o": "exist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "scope": "roundtrip",
                                "variables": [
                                    {
                                        "name": "limite_operacional_mensal",
                                        "value": "{{3.`7`}}"
                                    },
                                    {
                                        "name": "limite_ocupado",
                                        "value": "{{3.`8`}}"
                                    },
                                    {
                                        "name": "limite_publicado",
                                        "value": "{{3.`9`}}"
                                    },
                                    {
                                        "name": "limite_disponivel_operacional",
                                        "value": "{{3.`10`}}"
                                    },
                                    {
                                        "name": "status_limite",
                                        "value": "{{3.`11`}}"
                                    },
                                    {
                                        "name": "servico_extra_aprovado",
                                        "value": "{{3.`13`}}"
                                    },
                                    {
                                        "name": "ajuste_manual_autorizado",
                                        "value": "{{3.`14`}}"
                                    },
                                    {
                                        "name": "contrato_ativo",
                                        "value": "{{if(3.`11` = \"ativo\"; \"sim\"; \"nao\")}}"
                                    },
                                    {
                                        "name": "dentro_limite_operacional",
                                        "value": "{{if(parseNumber(3.`10`) > 0; \"sim\"; \"nao\")}}"
                                    },
                                    {
                                        "name": "planejamento_permitido",
                                        "value": "{{if(3.`11` != \"ativo\"; \"nao\"; if(parseNumber(3.`10`) > 0; \"sim\"; if(3.`13` = \"sim\"; \"sim\"; if(3.`14` = \"sim\"; \"sim\"; \"nao\"))))}}"
                                    },
                                    {
                                        "name": "status_planejamento_guardrail",
                                        "value": "{{if(3.`11` != \"ativo\"; \"bloqueado_limite_inativo\"; if(parseNumber(3.`10`) > 0; \"permitido_limite_disponivel\"; if(3.`13` = \"sim\"; \"permitido_servico_extra\"; if(3.`14` = \"sim\"; \"permitido_ajuste_manual\"; \"bloqueado_limite_operacional\"))))}}"
                                    },
                                    {
                                        "name": "motivo_bloqueio",
                                        "value": "{{if(3.`11` != \"ativo\"; \"limite_operacional_inativo\"; if(parseNumber(3.`10`) > 0; \"\"; if(3.`13` = \"sim\"; \"\"; if(3.`14` = \"sim\"; \"\"; \"limite_operacional_sem_autorizacao_extra\"))))}}"
                                    }
                                ]
                            },
                            "metadata": {
                                "designer": {
                                    "x": 535,
                                    "y": -229,
                                    "name": " Tools — cálculo de autorização do planejamento"
                                },
                                "restore": {
                                    "expect": {
                                        "scope": {
                                            "label": "One cycle"
                                        },
                                        "variables": {
                                            "items": [
                                                null,
                                                null,
                                                null,
                                                null,
                                                null,
                                                null,
                                                null,
                                                null,
                                                null,
                                                null,
                                                null,
                                                null
                                            ]
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "variables",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "type": "text",
                                                "label": "Variable name",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "type": "any",
                                                "label": "Variable value"
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Variables"
                                    },
                                    {
                                        "name": "scope",
                                        "type": "select",
                                        "label": "Variable lifetime",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "roundtrip",
                                                "execution"
                                            ]
                                        }
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "limite_operacional_mensal",
                                        "type": "any",
                                        "label": "limite_operacional_mensal"
                                    },
                                    {
                                        "name": "limite_ocupado",
                                        "type": "any",
                                        "label": "limite_ocupado"
                                    },
                                    {
                                        "name": "limite_publicado",
                                        "type": "any",
                                        "label": "limite_publicado"
                                    },
                                    {
                                        "name": "limite_disponivel_operacional",
                                        "type": "any",
                                        "label": "limite_disponivel_operacional"
                                    },
                                    {
                                        "name": "status_limite",
                                        "type": "any",
                                        "label": "status_limite"
                                    },
                                    {
                                        "name": "servico_extra_aprovado",
                                        "type": "any",
                                        "label": "servico_extra_aprovado"
                                    },
                                    {
                                        "name": "ajuste_manual_autorizado",
                                        "type": "any",
                                        "label": "ajuste_manual_autorizado"
                                    },
                                    {
                                        "name": "contrato_ativo",
                                        "type": "any",
                                        "label": "contrato_ativo"
                                    },
                                    {
                                        "name": "dentro_limite_operacional",
                                        "type": "any",
                                        "label": "dentro_limite_operacional"
                                    },
                                    {
                                        "name": "planejamento_permitido",
                                        "type": "any",
                                        "label": "planejamento_permitido"
                                    },
                                    {
                                        "name": "status_planejamento_guardrail",
                                        "type": "any",
                                        "label": "status_planejamento_guardrail"
                                    },
                                    {
                                        "name": "motivo_bloqueio",
                                        "type": "any",
                                        "label": "motivo_bloqueio"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "builtin:BasicRouter",
                            "version": 1,
                            "mapper": null,
                            "metadata": {
                                "designer": {
                                    "x": 835,
                                    "y": -229,
                                    "name": "Router — PLANEJAMENTO_PERMITIDO / PLANEJAMENTO_BLO"
                                }
                            },
                            "routes": [
                                {
                                    "flow": [
                                        {
                                            "id": 8,
                                            "module": "google-sheets:addRow",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 8785925
                                            },
                                            "filter": {
                                                "name": "PLANEJAMENTO_PERMITIDO",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{5.planejamento_permitido}}",
                                                            "b": "sim",
                                                            "o": "text:equal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "from": "drive",
                                                "mode": "select",
                                                "values": {
                                                    "0": "{{1.planejamento_id}}",
                                                    "1": "{{1.client_id}}",
                                                    "2": "{{1.client_name}}",
                                                    "3": "{{1.mes_referencia}}",
                                                    "4": "{{1.semana_referencia}}",
                                                    "5": "{{1.canal}}",
                                                    "6": "{{1.formato_conteudo}}",
                                                    "7": "{{1.tema}}",
                                                    "8": "{{1.objetivo_conteudo}}",
                                                    "9": "{{1.pilar_conteudo}}",
                                                    "10": "{{1.etapa_funil}}",
                                                    "11": "{{1.briefing_resumo}}",
                                                    "12": "{{1.status_planejamento}}",
                                                    "13": "{{1.geracao_id}}",
                                                    "14": "{{1.credito_id}}",
                                                    "15": "{{1.responsavel_planejamento}}",
                                                    "16": "{{1.responsavel_design}}",
                                                    "17": "{{1.responsavel_copy}}",
                                                    "18": "{{1.data_prevista}}",
                                                    "19": "{{1.data_publicacao}}",
                                                    "20": "{{1.link_briefing_drive}}",
                                                    "21": "{{1.link_entrega_drive}}",
                                                    "22": "{{1.observacao}}",
                                                    "23": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}",
                                                    "24": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}"
                                                },
                                                "sheetId": "PLANEJAMENTO_CONTEUDO",
                                                "spreadsheetId": "/1-MZBzS2KOZ_pSIR9rVX_mkecdvmQjF9j9q8ahMKqxQE",
                                                "includesHeaders": true,
                                                "insertDataOption": "INSERT_ROWS",
                                                "useColumnHeaders": false,
                                                "valueInputOption": "USER_ENTERED",
                                                "insertUnformatted": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1135,
                                                    "y": -529,
                                                    "name": "Google Sheets — Add Row em PLANEJAMENTO_CONTEUDO"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "from": {
                                                            "label": "My Drive"
                                                        },
                                                        "mode": {
                                                            "label": "Search by path"
                                                        },
                                                        "sheetId": {
                                                            "label": "PLANEJAMENTO_CONTEUDO"
                                                        },
                                                        "spreadsheetId": {
                                                            "path": [
                                                                "FluxAI_Intelligence_Base_Ecossistema_Make"
                                                            ]
                                                        },
                                                        "includesHeaders": {
                                                            "label": "Yes"
                                                        },
                                                        "insertDataOption": {
                                                            "mode": "chose",
                                                            "label": "Insert rows"
                                                        },
                                                        "useColumnHeaders": {
                                                            "label": "No",
                                                            "nested": [
                                                                {
                                                                    "name": "values",
                                                                    "spec": [
                                                                        {
                                                                            "name": "0",
                                                                            "type": "text",
                                                                            "label": "planejamento_id (A)"
                                                                        },
                                                                        {
                                                                            "name": "1",
                                                                            "type": "text",
                                                                            "label": "client_id (B)"
                                                                        },
                                                                        {
                                                                            "name": "2",
                                                                            "type": "text",
                                                                            "label": "client_name (C)"
                                                                        },
                                                                        {
                                                                            "name": "3",
                                                                            "type": "text",
                                                                            "label": "mes_referencia (D)"
                                                                        },
                                                                        {
                                                                            "name": "4",
                                                                            "type": "text",
                                                                            "label": "semana_referencia (E)"
                                                                        },
                                                                        {
                                                                            "name": "5",
                                                                            "type": "text",
                                                                            "label": "canal (F)"
                                                                        },
                                                                        {
                                                                            "name": "6",
                                                                            "type": "text",
                                                                            "label": "formato_conteudo (G)"
                                                                        },
                                                                        {
                                                                            "name": "7",
                                                                            "type": "text",
                                                                            "label": "tema (H)"
                                                                        },
                                                                        {
                                                                            "name": "8",
                                                                            "type": "text",
                                                                            "label": "objetivo_conteudo (I)"
                                                                        },
                                                                        {
                                                                            "name": "9",
                                                                            "type": "text",
                                                                            "label": "pilar_conteudo (J)"
                                                                        },
                                                                        {
                                                                            "name": "10",
                                                                            "type": "text",
                                                                            "label": "etapa_funil (K)"
                                                                        },
                                                                        {
                                                                            "name": "11",
                                                                            "type": "text",
                                                                            "label": "briefing_resumo (L)"
                                                                        },
                                                                        {
                                                                            "name": "12",
                                                                            "type": "text",
                                                                            "label": "status_planejamento (M)"
                                                                        },
                                                                        {
                                                                            "name": "13",
                                                                            "type": "text",
                                                                            "label": "geracao_id (N)"
                                                                        },
                                                                        {
                                                                            "name": "14",
                                                                            "type": "text",
                                                                            "label": "credito_id (O)"
                                                                        },
                                                                        {
                                                                            "name": "15",
                                                                            "type": "text",
                                                                            "label": "responsavel_planejamento (P)"
                                                                        },
                                                                        {
                                                                            "name": "16",
                                                                            "type": "text",
                                                                            "label": "responsavel_design (Q)"
                                                                        },
                                                                        {
                                                                            "name": "17",
                                                                            "type": "text",
                                                                            "label": "responsavel_copy (R)"
                                                                        },
                                                                        {
                                                                            "name": "18",
                                                                            "type": "text",
                                                                            "label": "data_prevista (S)"
                                                                        },
                                                                        {
                                                                            "name": "19",
                                                                            "type": "text",
                                                                            "label": "data_publicacao (T)"
                                                                        },
                                                                        {
                                                                            "name": "20",
                                                                            "type": "text",
                                                                            "label": "link_briefing_drive (U)"
                                                                        },
                                                                        {
                                                                            "name": "21",
                                                                            "type": "text",
                                                                            "label": "link_entrega_drive (V)"
                                                                        },
                                                                        {
                                                                            "name": "22",
                                                                            "type": "text",
                                                                            "label": "observacao (W)"
                                                                        },
                                                                        {
                                                                            "name": "23",
                                                                            "type": "text",
                                                                            "label": "data_criacao (X)"
                                                                        },
                                                                        {
                                                                            "name": "24",
                                                                            "type": "text",
                                                                            "label": "data_atualizacao (Y)"
                                                                        },
                                                                        {
                                                                            "name": "25",
                                                                            "type": "text",
                                                                            "label": "(Z)"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Values in columns",
                                                                    "metadata": [
                                                                        [
                                                                            [
                                                                                "planejamento_id",
                                                                                "client_id",
                                                                                "client_name",
                                                                                "mes_referencia",
                                                                                "semana_referencia",
                                                                                "canal",
                                                                                "formato_conteudo",
                                                                                "tema",
                                                                                "objetivo_conteudo",
                                                                                "pilar_conteudo",
                                                                                "etapa_funil",
                                                                                "briefing_resumo",
                                                                                "status_planejamento",
                                                                                "geracao_id",
                                                                                "credito_id",
                                                                                "responsavel_planejamento",
                                                                                "responsavel_design",
                                                                                "responsavel_copy",
                                                                                "data_prevista",
                                                                                "data_publicacao",
                                                                                "link_briefing_drive",
                                                                                "link_entrega_drive",
                                                                                "observacao",
                                                                                "data_criacao",
                                                                                "data_atualizacao"
                                                                            ]
                                                                        ]
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        "valueInputOption": {
                                                            "mode": "chose",
                                                            "label": "User entered"
                                                        },
                                                        "insertUnformatted": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google"
                                                            },
                                                            "label": "Meu Google (fluxai.marketingdigital@gmail.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "mode",
                                                        "type": "select",
                                                        "label": "Search Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "select",
                                                                "fromAll",
                                                                "map"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "insertUnformatted",
                                                        "type": "boolean",
                                                        "label": "Unformatted",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "valueInputOption",
                                                        "type": "select",
                                                        "label": "Value input option",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "USER_ENTERED",
                                                                "RAW"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "insertDataOption",
                                                        "type": "select",
                                                        "label": "Insert data option",
                                                        "validate": {
                                                            "enum": [
                                                                "INSERT_ROWS",
                                                                "OVERWRITE"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "from",
                                                        "type": "select",
                                                        "label": "Drive",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "drive",
                                                                "share",
                                                                "team"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "spreadsheetId",
                                                        "type": "file",
                                                        "label": "Spreadsheet Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "sheetId",
                                                        "type": "select",
                                                        "label": "Sheet Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "includesHeaders",
                                                        "type": "select",
                                                        "label": "Table contains headers",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                true,
                                                                false
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "useColumnHeaders",
                                                        "type": "select",
                                                        "label": "Use column headers as IDs of the columns",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                true,
                                                                false
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "values",
                                                        "spec": [
                                                            {
                                                                "name": "0",
                                                                "type": "text",
                                                                "label": "planejamento_id (A)"
                                                            },
                                                            {
                                                                "name": "1",
                                                                "type": "text",
                                                                "label": "client_id (B)"
                                                            },
                                                            {
                                                                "name": "2",
                                                                "type": "text",
                                                                "label": "client_name (C)"
                                                            },
                                                            {
                                                                "name": "3",
                                                                "type": "text",
                                                                "label": "mes_referencia (D)"
                                                            },
                                                            {
                                                                "name": "4",
                                                                "type": "text",
                                                                "label": "semana_referencia (E)"
                                                            },
                                                            {
                                                                "name": "5",
                                                                "type": "text",
                                                                "label": "canal (F)"
                                                            },
                                                            {
                                                                "name": "6",
                                                                "type": "text",
                                                                "label": "formato_conteudo (G)"
                                                            },
                                                            {
                                                                "name": "7",
                                                                "type": "text",
                                                                "label": "tema (H)"
                                                            },
                                                            {
                                                                "name": "8",
                                                                "type": "text",
                                                                "label": "objetivo_conteudo (I)"
                                                            },
                                                            {
                                                                "name": "9",
                                                                "type": "text",
                                                                "label": "pilar_conteudo (J)"
                                                            },
                                                            {
                                                                "name": "10",
                                                                "type": "text",
                                                                "label": "etapa_funil (K)"
                                                            },
                                                            {
                                                                "name": "11",
                                                                "type": "text",
                                                                "label": "briefing_resumo (L)"
                                                            },
                                                            {
                                                                "name": "12",
                                                                "type": "text",
                                                                "label": "status_planejamento (M)"
                                                            },
                                                            {
                                                                "name": "13",
                                                                "type": "text",
                                                                "label": "geracao_id (N)"
                                                            },
                                                            {
                                                                "name": "14",
                                                                "type": "text",
                                                                "label": "credito_id (O)"
                                                            },
                                                            {
                                                                "name": "15",
                                                                "type": "text",
                                                                "label": "responsavel_planejamento (P)"
                                                            },
                                                            {
                                                                "name": "16",
                                                                "type": "text",
                                                                "label": "responsavel_design (Q)"
                                                            },
                                                            {
                                                                "name": "17",
                                                                "type": "text",
                                                                "label": "responsavel_copy (R)"
                                                            },
                                                            {
                                                                "name": "18",
                                                                "type": "text",
                                                                "label": "data_prevista (S)"
                                                            },
                                                            {
                                                                "name": "19",
                                                                "type": "text",
                                                                "label": "data_publicacao (T)"
                                                            },
                                                            {
                                                                "name": "20",
                                                                "type": "text",
                                                                "label": "link_briefing_drive (U)"
                                                            },
                                                            {
                                                                "name": "21",
                                                                "type": "text",
                                                                "label": "link_entrega_drive (V)"
                                                            },
                                                            {
                                                                "name": "22",
                                                                "type": "text",
                                                                "label": "observacao (W)"
                                                            },
                                                            {
                                                                "name": "23",
                                                                "type": "text",
                                                                "label": "data_criacao (X)"
                                                            },
                                                            {
                                                                "name": "24",
                                                                "type": "text",
                                                                "label": "data_atualizacao (Y)"
                                                            },
                                                            {
                                                                "name": "25",
                                                                "type": "text",
                                                                "label": "(Z)"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Values in columns",
                                                        "metadata": [
                                                            [
                                                                [
                                                                    "planejamento_id",
                                                                    "client_id",
                                                                    "client_name",
                                                                    "mes_referencia",
                                                                    "semana_referencia",
                                                                    "canal",
                                                                    "formato_conteudo",
                                                                    "tema",
                                                                    "objetivo_conteudo",
                                                                    "pilar_conteudo",
                                                                    "etapa_funil",
                                                                    "briefing_resumo",
                                                                    "status_planejamento",
                                                                    "geracao_id",
                                                                    "credito_id",
                                                                    "responsavel_planejamento",
                                                                    "responsavel_design",
                                                                    "responsavel_copy",
                                                                    "data_prevista",
                                                                    "data_publicacao",
                                                                    "link_briefing_drive",
                                                                    "link_entrega_drive",
                                                                    "observacao",
                                                                    "data_criacao",
                                                                    "data_atualizacao"
                                                                ]
                                                            ]
                                                        ]
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 10,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "body": "{\r\n  \"ok\": true,\r\n  \"status\": \"planejamento_criado\",\r\n  \"message\": \"Planejamento de conteúdo criado com sucesso.\",\r\n  \"planejamento_id\": \"{{1.planejamento_id}}\",\r\n  \"client_id\": \"{{1.client_id}}\",\r\n  \"client_name\": \"{{1.client_name}}\",\r\n  \"limite_id\": \"{{1.limite_id}}\",\r\n  \"geracao_id\": \"{{1.geracao_id}}\",\r\n  \"mes_referencia\": \"{{1.mes_referencia}}\",\r\n  \"tipo_entrega\": \"{{1.tipo_entrega}}\",\r\n  \"status_planejamento\": \"{{1.status_planejamento}}\",\r\n  \"limite_disponivel_operacional\": \"{{5.limite_disponivel_operacional}}\",\r\n  \"status_planejamento_guardrail\": \"{{5.status_planejamento_guardrail}}\"\r\n}",
                                                "status": "200",
                                                "headers": []
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1435,
                                                    "y": -379,
                                                    "name": "Webhook Response — planejamento criado",
                                                    "messages": [
                                                        {
                                                            "category": "badresponder",
                                                            "severity": "warning",
                                                            "message": "Responder is not supported when scenario is configured for sequential processing."
                                                        }
                                                    ]
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "headers": {
                                                            "mode": "chose"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "status",
                                                        "type": "uinteger",
                                                        "label": "Status",
                                                        "required": true,
                                                        "validate": {
                                                            "min": 100
                                                        }
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 256
                                                                }
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 4096
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Custom headers",
                                                        "validate": {
                                                            "maxItems": 16
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                },
                                {
                                    "flow": [
                                        {
                                            "id": 9,
                                            "module": "google-sheets:addRow",
                                            "version": 2,
                                            "parameters": {
                                                "__IMTCONN__": 8785925
                                            },
                                            "filter": {
                                                "name": "PLANEJAMENTO_BLOQUEADO",
                                                "conditions": [
                                                    [
                                                        {
                                                            "a": "{{5.planejamento_permitido}}",
                                                            "b": "nao",
                                                            "o": "text:equal"
                                                        }
                                                    ]
                                                ]
                                            },
                                            "mapper": {
                                                "from": "drive",
                                                "mode": "select",
                                                "values": {
                                                    "0": " LOG_PLAN_BLOQ_{{1.planejamento_id}}",
                                                    "1": "{{1.geracao_id}}",
                                                    "2": "{{1.client_id}}",
                                                    "3": "{{1.client_name}}",
                                                    "4": "15_FLUXAI_PLANEJAMENTO_CONTEUDO",
                                                    "5": "15_FLUXAI_PLANEJAMENTO_CONTEUDO",
                                                    "6": "planejamento_bloqueado",
                                                    "7": "{{1.tipo_entrega}}",
                                                    "8": "{{1.mes_referencia}}",
                                                    "9": "nao",
                                                    "10": "{{5.status_planejamento_guardrail}}",
                                                    "11": "{{5.motivo_bloqueio}}",
                                                    "12": "{{5.contrato_ativo}}",
                                                    "13": "sim",
                                                    "14": "{{5.dentro_limite_operacional}}",
                                                    "15": "{{5.servico_extra_aprovado}}",
                                                    "16": "{{5.ajuste_manual_autorizado}}",
                                                    "17": "baixo",
                                                    "18": "bloqueado",
                                                    "19": "{{1.modelo_gpt}}",
                                                    "20": "{{1.tokens_estimados}}",
                                                    "21": "{{1.erro_tecnico}}",
                                                    "22": "{{1.responsavel_planejamento}}",
                                                    "23": "{{1.observacao}}",
                                                    "24": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}",
                                                    "25": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}"
                                                },
                                                "sheetId": "GPT_GERACOES_LOG",
                                                "spreadsheetId": "/1-MZBzS2KOZ_pSIR9rVX_mkecdvmQjF9j9q8ahMKqxQE",
                                                "includesHeaders": true,
                                                "insertDataOption": "INSERT_ROWS",
                                                "useColumnHeaders": false,
                                                "valueInputOption": "USER_ENTERED",
                                                "insertUnformatted": false
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1135,
                                                    "y": -229,
                                                    "name": "Google Sheets — Add Row em GPT_GERACOES_LOG"
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "from": {
                                                            "label": "My Drive"
                                                        },
                                                        "mode": {
                                                            "label": "Search by path"
                                                        },
                                                        "sheetId": {
                                                            "label": "GPT_GERACOES_LOG"
                                                        },
                                                        "spreadsheetId": {
                                                            "path": [
                                                                "FluxAI_Intelligence_Base_Ecossistema_Make"
                                                            ]
                                                        },
                                                        "includesHeaders": {
                                                            "label": "Yes"
                                                        },
                                                        "insertDataOption": {
                                                            "mode": "chose",
                                                            "label": "Insert rows"
                                                        },
                                                        "useColumnHeaders": {
                                                            "label": "No",
                                                            "nested": [
                                                                {
                                                                    "name": "values",
                                                                    "spec": [
                                                                        {
                                                                            "name": "0",
                                                                            "type": "text",
                                                                            "label": "log_id (A)"
                                                                        },
                                                                        {
                                                                            "name": "1",
                                                                            "type": "text",
                                                                            "label": "geracao_id (B)"
                                                                        },
                                                                        {
                                                                            "name": "2",
                                                                            "type": "text",
                                                                            "label": "client_id (C)"
                                                                        },
                                                                        {
                                                                            "name": "3",
                                                                            "type": "text",
                                                                            "label": "client_name (D)"
                                                                        },
                                                                        {
                                                                            "name": "4",
                                                                            "type": "text",
                                                                            "label": "workflow_origem (E)"
                                                                        },
                                                                        {
                                                                            "name": "5",
                                                                            "type": "text",
                                                                            "label": "cenario_make (F)"
                                                                        },
                                                                        {
                                                                            "name": "6",
                                                                            "type": "text",
                                                                            "label": "tipo_log (G)"
                                                                        },
                                                                        {
                                                                            "name": "7",
                                                                            "type": "text",
                                                                            "label": "tipo_entrega (H)"
                                                                        },
                                                                        {
                                                                            "name": "8",
                                                                            "type": "text",
                                                                            "label": "mes_referencia (I)"
                                                                        },
                                                                        {
                                                                            "name": "9",
                                                                            "type": "text",
                                                                            "label": "pode_gerar (J)"
                                                                        },
                                                                        {
                                                                            "name": "10",
                                                                            "type": "text",
                                                                            "label": "status_guardrail (K)"
                                                                        },
                                                                        {
                                                                            "name": "11",
                                                                            "type": "text",
                                                                            "label": "motivo_bloqueio (L)"
                                                                        },
                                                                        {
                                                                            "name": "12",
                                                                            "type": "text",
                                                                            "label": "contrato_ativo (M)"
                                                                        },
                                                                        {
                                                                            "name": "13",
                                                                            "type": "text",
                                                                            "label": "tipo_entrega_contratado (N)"
                                                                        },
                                                                        {
                                                                            "name": "14",
                                                                            "type": "text",
                                                                            "label": "dentro_limite_operacional (O)"
                                                                        },
                                                                        {
                                                                            "name": "15",
                                                                            "type": "text",
                                                                            "label": "servico_extra_aprovado (P)"
                                                                        },
                                                                        {
                                                                            "name": "16",
                                                                            "type": "text",
                                                                            "label": "ajuste_manual_autorizado (Q)"
                                                                        },
                                                                        {
                                                                            "name": "17",
                                                                            "type": "text",
                                                                            "label": "risco_operacional (R)"
                                                                        },
                                                                        {
                                                                            "name": "18",
                                                                            "type": "text",
                                                                            "label": "status_execucao_gpt (S)"
                                                                        },
                                                                        {
                                                                            "name": "19",
                                                                            "type": "text",
                                                                            "label": "modelo_gpt (T)"
                                                                        },
                                                                        {
                                                                            "name": "20",
                                                                            "type": "text",
                                                                            "label": "tokens_estimados (U)"
                                                                        },
                                                                        {
                                                                            "name": "21",
                                                                            "type": "text",
                                                                            "label": "erro_tecnico (V)"
                                                                        },
                                                                        {
                                                                            "name": "22",
                                                                            "type": "text",
                                                                            "label": "responsavel_operacional (W)"
                                                                        },
                                                                        {
                                                                            "name": "23",
                                                                            "type": "text",
                                                                            "label": "observacao (X)"
                                                                        },
                                                                        {
                                                                            "name": "24",
                                                                            "type": "text",
                                                                            "label": "data_evento (Y)"
                                                                        },
                                                                        {
                                                                            "name": "25",
                                                                            "type": "text",
                                                                            "label": "data_criacao (Z)"
                                                                        }
                                                                    ],
                                                                    "type": "collection",
                                                                    "label": "Values in columns",
                                                                    "metadata": [
                                                                        [
                                                                            [
                                                                                "log_id",
                                                                                "geracao_id",
                                                                                "client_id",
                                                                                "client_name",
                                                                                "workflow_origem",
                                                                                "cenario_make",
                                                                                "tipo_log",
                                                                                "tipo_entrega",
                                                                                "mes_referencia",
                                                                                "pode_gerar",
                                                                                "status_guardrail",
                                                                                "motivo_bloqueio",
                                                                                "contrato_ativo",
                                                                                "tipo_entrega_contratado",
                                                                                "dentro_limite_operacional",
                                                                                "servico_extra_aprovado",
                                                                                "ajuste_manual_autorizado",
                                                                                "risco_operacional",
                                                                                "status_execucao_gpt",
                                                                                "modelo_gpt",
                                                                                "tokens_estimados",
                                                                                "erro_tecnico",
                                                                                "responsavel_operacional",
                                                                                "observacao",
                                                                                "data_evento",
                                                                                "data_criacao"
                                                                            ]
                                                                        ]
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        "valueInputOption": {
                                                            "mode": "chose",
                                                            "label": "User entered"
                                                        },
                                                        "insertUnformatted": {
                                                            "mode": "chose"
                                                        }
                                                    },
                                                    "parameters": {
                                                        "__IMTCONN__": {
                                                            "data": {
                                                                "scoped": "true",
                                                                "connection": "google"
                                                            },
                                                            "label": "Meu Google (fluxai.marketingdigital@gmail.com)"
                                                        }
                                                    }
                                                },
                                                "parameters": [
                                                    {
                                                        "name": "__IMTCONN__",
                                                        "type": "account:google",
                                                        "label": "Connection",
                                                        "required": true
                                                    }
                                                ],
                                                "expect": [
                                                    {
                                                        "name": "mode",
                                                        "type": "select",
                                                        "label": "Search Method",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "select",
                                                                "fromAll",
                                                                "map"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "insertUnformatted",
                                                        "type": "boolean",
                                                        "label": "Unformatted",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "valueInputOption",
                                                        "type": "select",
                                                        "label": "Value input option",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "USER_ENTERED",
                                                                "RAW"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "insertDataOption",
                                                        "type": "select",
                                                        "label": "Insert data option",
                                                        "validate": {
                                                            "enum": [
                                                                "INSERT_ROWS",
                                                                "OVERWRITE"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "from",
                                                        "type": "select",
                                                        "label": "Drive",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                "drive",
                                                                "share",
                                                                "team"
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "spreadsheetId",
                                                        "type": "file",
                                                        "label": "Spreadsheet Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "sheetId",
                                                        "type": "select",
                                                        "label": "Sheet Name",
                                                        "required": true
                                                    },
                                                    {
                                                        "name": "includesHeaders",
                                                        "type": "select",
                                                        "label": "Table contains headers",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                true,
                                                                false
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "useColumnHeaders",
                                                        "type": "select",
                                                        "label": "Use column headers as IDs of the columns",
                                                        "required": true,
                                                        "validate": {
                                                            "enum": [
                                                                true,
                                                                false
                                                            ]
                                                        }
                                                    },
                                                    {
                                                        "name": "values",
                                                        "spec": [
                                                            {
                                                                "name": "0",
                                                                "type": "text",
                                                                "label": "log_id (A)"
                                                            },
                                                            {
                                                                "name": "1",
                                                                "type": "text",
                                                                "label": "geracao_id (B)"
                                                            },
                                                            {
                                                                "name": "2",
                                                                "type": "text",
                                                                "label": "client_id (C)"
                                                            },
                                                            {
                                                                "name": "3",
                                                                "type": "text",
                                                                "label": "client_name (D)"
                                                            },
                                                            {
                                                                "name": "4",
                                                                "type": "text",
                                                                "label": "workflow_origem (E)"
                                                            },
                                                            {
                                                                "name": "5",
                                                                "type": "text",
                                                                "label": "cenario_make (F)"
                                                            },
                                                            {
                                                                "name": "6",
                                                                "type": "text",
                                                                "label": "tipo_log (G)"
                                                            },
                                                            {
                                                                "name": "7",
                                                                "type": "text",
                                                                "label": "tipo_entrega (H)"
                                                            },
                                                            {
                                                                "name": "8",
                                                                "type": "text",
                                                                "label": "mes_referencia (I)"
                                                            },
                                                            {
                                                                "name": "9",
                                                                "type": "text",
                                                                "label": "pode_gerar (J)"
                                                            },
                                                            {
                                                                "name": "10",
                                                                "type": "text",
                                                                "label": "status_guardrail (K)"
                                                            },
                                                            {
                                                                "name": "11",
                                                                "type": "text",
                                                                "label": "motivo_bloqueio (L)"
                                                            },
                                                            {
                                                                "name": "12",
                                                                "type": "text",
                                                                "label": "contrato_ativo (M)"
                                                            },
                                                            {
                                                                "name": "13",
                                                                "type": "text",
                                                                "label": "tipo_entrega_contratado (N)"
                                                            },
                                                            {
                                                                "name": "14",
                                                                "type": "text",
                                                                "label": "dentro_limite_operacional (O)"
                                                            },
                                                            {
                                                                "name": "15",
                                                                "type": "text",
                                                                "label": "servico_extra_aprovado (P)"
                                                            },
                                                            {
                                                                "name": "16",
                                                                "type": "text",
                                                                "label": "ajuste_manual_autorizado (Q)"
                                                            },
                                                            {
                                                                "name": "17",
                                                                "type": "text",
                                                                "label": "risco_operacional (R)"
                                                            },
                                                            {
                                                                "name": "18",
                                                                "type": "text",
                                                                "label": "status_execucao_gpt (S)"
                                                            },
                                                            {
                                                                "name": "19",
                                                                "type": "text",
                                                                "label": "modelo_gpt (T)"
                                                            },
                                                            {
                                                                "name": "20",
                                                                "type": "text",
                                                                "label": "tokens_estimados (U)"
                                                            },
                                                            {
                                                                "name": "21",
                                                                "type": "text",
                                                                "label": "erro_tecnico (V)"
                                                            },
                                                            {
                                                                "name": "22",
                                                                "type": "text",
                                                                "label": "responsavel_operacional (W)"
                                                            },
                                                            {
                                                                "name": "23",
                                                                "type": "text",
                                                                "label": "observacao (X)"
                                                            },
                                                            {
                                                                "name": "24",
                                                                "type": "text",
                                                                "label": "data_evento (Y)"
                                                            },
                                                            {
                                                                "name": "25",
                                                                "type": "text",
                                                                "label": "data_criacao (Z)"
                                                            }
                                                        ],
                                                        "type": "collection",
                                                        "label": "Values in columns",
                                                        "metadata": [
                                                            [
                                                                [
                                                                    "log_id",
                                                                    "geracao_id",
                                                                    "client_id",
                                                                    "client_name",
                                                                    "workflow_origem",
                                                                    "cenario_make",
                                                                    "tipo_log",
                                                                    "tipo_entrega",
                                                                    "mes_referencia",
                                                                    "pode_gerar",
                                                                    "status_guardrail",
                                                                    "motivo_bloqueio",
                                                                    "contrato_ativo",
                                                                    "tipo_entrega_contratado",
                                                                    "dentro_limite_operacional",
                                                                    "servico_extra_aprovado",
                                                                    "ajuste_manual_autorizado",
                                                                    "risco_operacional",
                                                                    "status_execucao_gpt",
                                                                    "modelo_gpt",
                                                                    "tokens_estimados",
                                                                    "erro_tecnico",
                                                                    "responsavel_operacional",
                                                                    "observacao",
                                                                    "data_evento",
                                                                    "data_criacao"
                                                                ]
                                                            ]
                                                        ]
                                                    }
                                                ]
                                            }
                                        },
                                        {
                                            "id": 11,
                                            "module": "gateway:WebhookRespond",
                                            "version": 1,
                                            "parameters": {},
                                            "mapper": {
                                                "body": "{\r\n  \"ok\": false,\r\n  \"status\": \"planejamento_bloqueado\",\r\n  \"message\": \"Planejamento bloqueado pelo limite operacional. Não deve avançar sem limite disponível, serviço extra aprovado ou ajuste manual.\",\r\n  \"planejamento_id\": \"{{1.planejamento_id}}\",\r\n  \"client_id\": \"{{1.client_id}}\",\r\n  \"limite_id\": \"{{1.limite_id}}\",\r\n  \"geracao_id\": \"{{1.geracao_id}}\",\r\n  \"status_planejamento_guardrail\": \"{{5.status_planejamento_guardrail}}\",\r\n  \"motivo_bloqueio\": \"{{5.motivo_bloqueio}}\",\r\n  \"limite_disponivel_operacional\": \"{{5.limite_disponivel_operacional}}\"\r\n}",
                                                "status": "200",
                                                "headers": []
                                            },
                                            "metadata": {
                                                "designer": {
                                                    "x": 1435,
                                                    "y": -79,
                                                    "name": "Webhook Response — planejamento bloqueado",
                                                    "messages": [
                                                        {
                                                            "category": "badresponder",
                                                            "severity": "warning",
                                                            "message": "Responder is not supported when scenario is configured for sequential processing."
                                                        }
                                                    ]
                                                },
                                                "restore": {
                                                    "expect": {
                                                        "headers": {
                                                            "mode": "chose"
                                                        }
                                                    }
                                                },
                                                "expect": [
                                                    {
                                                        "name": "status",
                                                        "type": "uinteger",
                                                        "label": "Status",
                                                        "required": true,
                                                        "validate": {
                                                            "min": 100
                                                        }
                                                    },
                                                    {
                                                        "name": "body",
                                                        "type": "any",
                                                        "label": "Body"
                                                    },
                                                    {
                                                        "name": "headers",
                                                        "spec": [
                                                            {
                                                                "name": "key",
                                                                "type": "text",
                                                                "label": "Key",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 256
                                                                }
                                                            },
                                                            {
                                                                "name": "value",
                                                                "type": "text",
                                                                "label": "Value",
                                                                "required": true,
                                                                "validate": {
                                                                    "max": 4096
                                                                }
                                                            }
                                                        ],
                                                        "type": "array",
                                                        "label": "Custom headers",
                                                        "validate": {
                                                            "maxItems": 16
                                                        }
                                                    }
                                                ]
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "google-sheets:addRow",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 8785925
                            },
                            "filter": {
                                "name": "LIMITE_NAO_ENCONTRADO ",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{3.`0`}}",
                                            "o": "notexist"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "mode": "select",
                                "values": {
                                    "0": "LOG_PLAN_SEM_LIMITE_{{1.planejamento_id}}",
                                    "1": "{{1.geracao_id}}",
                                    "2": "{{1.client_id}}",
                                    "3": "{{1.client_name}}",
                                    "4": "15_FLUXAI_PLANEJAMENTO_CONTEUDO",
                                    "5": "15_FLUXAI_PLANEJAMENTO_CONTEUDO",
                                    "6": "planejamento_bloqueado",
                                    "7": "{{1.tipo_entrega}}",
                                    "8": "{{1.mes_referencia}}",
                                    "9": "nao",
                                    "10": "bloqueado_limite_nao_encontrado",
                                    "11": "limite_operacional_nao_encontrado",
                                    "12": "nao_validado",
                                    "13": "nao_validado",
                                    "14": "nao",
                                    "15": "nao_validado",
                                    "16": "nao_validado",
                                    "17": "nao_validado",
                                    "18": "bloqueado",
                                    "19": "{{1.modelo_gpt}}",
                                    "20": "{{1.tokens_estimados}}",
                                    "21": "limite_operacional_nao_encontrado",
                                    "22": "{{1.responsavel_planejamento}}",
                                    "23": "{{1.observacao}}",
                                    "24": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}",
                                    "25": "{{formatDate(now; \"YYYY-MM-DD HH:mm:ss\")}}"
                                },
                                "sheetId": "GPT_GERACOES_LOG",
                                "spreadsheetId": "/1-MZBzS2KOZ_pSIR9rVX_mkecdvmQjF9j9q8ahMKqxQE",
                                "includesHeaders": true,
                                "insertDataOption": "INSERT_ROWS",
                                "useColumnHeaders": false,
                                "valueInputOption": "USER_ENTERED",
                                "insertUnformatted": false
                            },
                            "metadata": {
                                "designer": {
                                    "x": 535,
                                    "y": 71,
                                    "name": "Google Sheets — Add Row em GPT_GERACOES_LOG"
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "mode": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "GPT_GERACOES_LOG"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "FluxAI_Intelligence_Base_Ecossistema_Make"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "label": "Yes"
                                        },
                                        "insertDataOption": {
                                            "mode": "chose",
                                            "label": "Insert rows"
                                        },
                                        "useColumnHeaders": {
                                            "label": "No",
                                            "nested": [
                                                {
                                                    "name": "values",
                                                    "spec": [
                                                        {
                                                            "name": "0",
                                                            "type": "text",
                                                            "label": "log_id (A)"
                                                        },
                                                        {
                                                            "name": "1",
                                                            "type": "text",
                                                            "label": "geracao_id (B)"
                                                        },
                                                        {
                                                            "name": "2",
                                                            "type": "text",
                                                            "label": "client_id (C)"
                                                        },
                                                        {
                                                            "name": "3",
                                                            "type": "text",
                                                            "label": "client_name (D)"
                                                        },
                                                        {
                                                            "name": "4",
                                                            "type": "text",
                                                            "label": "workflow_origem (E)"
                                                        },
                                                        {
                                                            "name": "5",
                                                            "type": "text",
                                                            "label": "cenario_make (F)"
                                                        },
                                                        {
                                                            "name": "6",
                                                            "type": "text",
                                                            "label": "tipo_log (G)"
                                                        },
                                                        {
                                                            "name": "7",
                                                            "type": "text",
                                                            "label": "tipo_entrega (H)"
                                                        },
                                                        {
                                                            "name": "8",
                                                            "type": "text",
                                                            "label": "mes_referencia (I)"
                                                        },
                                                        {
                                                            "name": "9",
                                                            "type": "text",
                                                            "label": "pode_gerar (J)"
                                                        },
                                                        {
                                                            "name": "10",
                                                            "type": "text",
                                                            "label": "status_guardrail (K)"
                                                        },
                                                        {
                                                            "name": "11",
                                                            "type": "text",
                                                            "label": "motivo_bloqueio (L)"
                                                        },
                                                        {
                                                            "name": "12",
                                                            "type": "text",
                                                            "label": "contrato_ativo (M)"
                                                        },
                                                        {
                                                            "name": "13",
                                                            "type": "text",
                                                            "label": "tipo_entrega_contratado (N)"
                                                        },
                                                        {
                                                            "name": "14",
                                                            "type": "text",
                                                            "label": "dentro_limite_operacional (O)"
                                                        },
                                                        {
                                                            "name": "15",
                                                            "type": "text",
                                                            "label": "servico_extra_aprovado (P)"
                                                        },
                                                        {
                                                            "name": "16",
                                                            "type": "text",
                                                            "label": "ajuste_manual_autorizado (Q)"
                                                        },
                                                        {
                                                            "name": "17",
                                                            "type": "text",
                                                            "label": "risco_operacional (R)"
                                                        },
                                                        {
                                                            "name": "18",
                                                            "type": "text",
                                                            "label": "status_execucao_gpt (S)"
                                                        },
                                                        {
                                                            "name": "19",
                                                            "type": "text",
                                                            "label": "modelo_gpt (T)"
                                                        },
                                                        {
                                                            "name": "20",
                                                            "type": "text",
                                                            "label": "tokens_estimados (U)"
                                                        },
                                                        {
                                                            "name": "21",
                                                            "type": "text",
                                                            "label": "erro_tecnico (V)"
                                                        },
                                                        {
                                                            "name": "22",
                                                            "type": "text",
                                                            "label": "responsavel_operacional (W)"
                                                        },
                                                        {
                                                            "name": "23",
                                                            "type": "text",
                                                            "label": "observacao (X)"
                                                        },
                                                        {
                                                            "name": "24",
                                                            "type": "text",
                                                            "label": "data_evento (Y)"
                                                        },
                                                        {
                                                            "name": "25",
                                                            "type": "text",
                                                            "label": "data_criacao (Z)"
                                                        }
                                                    ],
                                                    "type": "collection",
                                                    "label": "Values in columns",
                                                    "metadata": [
                                                        [
                                                            [
                                                                "log_id",
                                                                "geracao_id",
                                                                "client_id",
                                                                "client_name",
                                                                "workflow_origem",
                                                                "cenario_make",
                                                                "tipo_log",
                                                                "tipo_entrega",
                                                                "mes_referencia",
                                                                "pode_gerar",
                                                                "status_guardrail",
                                                                "motivo_bloqueio",
                                                                "contrato_ativo",
                                                                "tipo_entrega_contratado",
                                                                "dentro_limite_operacional",
                                                                "servico_extra_aprovado",
                                                                "ajuste_manual_autorizado",
                                                                "risco_operacional",
                                                                "status_execucao_gpt",
                                                                "modelo_gpt",
                                                                "tokens_estimados",
                                                                "erro_tecnico",
                                                                "responsavel_operacional",
                                                                "observacao",
                                                                "data_evento",
                                                                "data_criacao"
                                                            ]
                                                        ]
                                                    ]
                                                }
                                            ]
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        },
                                        "insertUnformatted": {
                                            "mode": "chose"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "Meu Google (fluxai.marketingdigital@gmail.com)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "mode",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "select",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertUnformatted",
                                        "type": "boolean",
                                        "label": "Unformatted",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "USER_ENTERED",
                                                "RAW"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "insertDataOption",
                                        "type": "select",
                                        "label": "Insert data option",
                                        "validate": {
                                            "enum": [
                                                "INSERT_ROWS",
                                                "OVERWRITE"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "select",
                                        "label": "Table contains headers",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "useColumnHeaders",
                                        "type": "select",
                                        "label": "Use column headers as IDs of the columns",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                true,
                                                false
                                            ]
                                        }
                                    },
                                    {
                                        "name": "values",
                                        "spec": [
                                            {
                                                "name": "0",
                                                "type": "text",
                                                "label": "log_id (A)"
                                            },
                                            {
                                                "name": "1",
                                                "type": "text",
                                                "label": "geracao_id (B)"
                                            },
                                            {
                                                "name": "2",
                                                "type": "text",
                                                "label": "client_id (C)"
                                            },
                                            {
                                                "name": "3",
                                                "type": "text",
                                                "label": "client_name (D)"
                                            },
                                            {
                                                "name": "4",
                                                "type": "text",
                                                "label": "workflow_origem (E)"
                                            },
                                            {
                                                "name": "5",
                                                "type": "text",
                                                "label": "cenario_make (F)"
                                            },
                                            {
                                                "name": "6",
                                                "type": "text",
                                                "label": "tipo_log (G)"
                                            },
                                            {
                                                "name": "7",
                                                "type": "text",
                                                "label": "tipo_entrega (H)"
                                            },
                                            {
                                                "name": "8",
                                                "type": "text",
                                                "label": "mes_referencia (I)"
                                            },
                                            {
                                                "name": "9",
                                                "type": "text",
                                                "label": "pode_gerar (J)"
                                            },
                                            {
                                                "name": "10",
                                                "type": "text",
                                                "label": "status_guardrail (K)"
                                            },
                                            {
                                                "name": "11",
                                                "type": "text",
                                                "label": "motivo_bloqueio (L)"
                                            },
                                            {
                                                "name": "12",
                                                "type": "text",
                                                "label": "contrato_ativo (M)"
                                            },
                                            {
                                                "name": "13",
                                                "type": "text",
                                                "label": "tipo_entrega_contratado (N)"
                                            },
                                            {
                                                "name": "14",
                                                "type": "text",
                                                "label": "dentro_limite_operacional (O)"
                                            },
                                            {
                                                "name": "15",
                                                "type": "text",
                                                "label": "servico_extra_aprovado (P)"
                                            },
                                            {
                                                "name": "16",
                                                "type": "text",
                                                "label": "ajuste_manual_autorizado (Q)"
                                            },
                                            {
                                                "name": "17",
                                                "type": "text",
                                                "label": "risco_operacional (R)"
                                            },
                                            {
                                                "name": "18",
                                                "type": "text",
                                                "label": "status_execucao_gpt (S)"
                                            },
                                            {
                                                "name": "19",
                                                "type": "text",
                                                "label": "modelo_gpt (T)"
                                            },
                                            {
                                                "name": "20",
                                                "type": "text",
                                                "label": "tokens_estimados (U)"
                                            },
                                            {
                                                "name": "21",
                                                "type": "text",
                                                "label": "erro_tecnico (V)"
                                            },
                                            {
                                                "name": "22",
                                                "type": "text",
                                                "label": "responsavel_operacional (W)"
                                            },
                                            {
                                                "name": "23",
                                                "type": "text",
                                                "label": "observacao (X)"
                                            },
                                            {
                                                "name": "24",
                                                "type": "text",
                                                "label": "data_evento (Y)"
                                            },
                                            {
                                                "name": "25",
                                                "type": "text",
                                                "label": "data_criacao (Z)"
                                            }
                                        ],
                                        "type": "collection",
                                        "label": "Values in columns",
                                        "metadata": [
                                            [
                                                [
                                                    "log_id",
                                                    "geracao_id",
                                                    "client_id",
                                                    "client_name",
                                                    "workflow_origem",
                                                    "cenario_make",
                                                    "tipo_log",
                                                    "tipo_entrega",
                                                    "mes_referencia",
                                                    "pode_gerar",
                                                    "status_guardrail",
                                                    "motivo_bloqueio",
                                                    "contrato_ativo",
                                                    "tipo_entrega_contratado",
                                                    "dentro_limite_operacional",
                                                    "servico_extra_aprovado",
                                                    "ajuste_manual_autorizado",
                                                    "risco_operacional",
                                                    "status_execucao_gpt",
                                                    "modelo_gpt",
                                                    "tokens_estimados",
                                                    "erro_tecnico",
                                                    "responsavel_operacional",
                                                    "observacao",
                                                    "data_evento",
                                                    "data_criacao"
                                                ]
                                            ]
                                        ]
                                    }
                                ]
                            }
                        },
                        {
                            "id": 12,
                            "module": "gateway:WebhookRespond",
                            "version": 1,
                            "parameters": {},
                            "mapper": {
                                "body": "{\r\n  \"ok\": false,\r\n  \"status\": \"planejamento_bloqueado_limite_nao_encontrado\",\r\n  \"message\": \"Nenhum limite operacional foi encontrado para este planejamento. O conteúdo não deve avançar.\",\r\n  \"planejamento_id\": \"{{1.planejamento_id}}\",\r\n  \"client_id\": \"{{1.client_id}}\",\r\n  \"limite_id\": \"{{1.limite_id}}\",\r\n  \"geracao_id\": \"{{1.geracao_id}}\",\r\n  \"mes_referencia\": \"{{1.mes_referencia}}\",\r\n  \"tipo_entrega\": \"{{1.tipo_entrega}}\",\r\n  \"motivo_bloqueio\": \"limite_operacional_nao_encontrado\"\r\n}",
                                "status": "200",
                                "headers": []
                            },
                            "metadata": {
                                "designer": {
                                    "x": 835,
                                    "y": 71,
                                    "name": "Webhook Response — limite não encontrado",
                                    "messages": [
                                        {
                                            "category": "badresponder",
                                            "severity": "warning",
                                            "message": "Responder is not supported when scenario is configured for sequential processing."
                                        }
                                    ]
                                },
                                "restore": {
                                    "expect": {
                                        "headers": {
                                            "mode": "chose"
                                        }
                                    }
                                },
                                "expect": [
                                    {
                                        "name": "status",
                                        "type": "uinteger",
                                        "label": "Status",
                                        "required": true,
                                        "validate": {
                                            "min": 100
                                        }
                                    },
                                    {
                                        "name": "body",
                                        "type": "any",
                                        "label": "Body"
                                    },
                                    {
                                        "name": "headers",
                                        "spec": [
                                            {
                                                "name": "key",
                                                "type": "text",
                                                "label": "Key",
                                                "required": true,
                                                "validate": {
                                                    "max": 256
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "type": "text",
                                                "label": "Value",
                                                "required": true,
                                                "validate": {
                                                    "max": 4096
                                                }
                                            }
                                        ],
                                        "type": "array",
                                        "label": "Custom headers",
                                        "validate": {
                                            "maxItems": 16
                                        }
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "sequential": true,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "us2.make.com",
        "notes": []
    }
}